In [15]:
import pandas as pd
import numpy as np
import os
import datetime

In [16]:
#importing customer data from the project folder

df_customers = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\olist_customers_dataset.csv', index_col = False)

In [17]:
path = r'C:\Users\dmlos\Achievement VI- Olist Business Analysis'

In [18]:
path

'C:\\Users\\dmlos\\Achievement VI- Olist Business Analysis'

In [19]:
#importing order items data from the project folder

df_customers = pd.read_csv(os.path.join(path,'Olist-Original Data (Kaggle)', 'olist_customers_dataset.csv'), index_col = False)

In [20]:
df_customers.shape

(99441, 5)

In [21]:
#importing geolocation data from the project folder

df_geolocation = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\olist_geolocation_dataset.csv', index_col = False)

In [22]:
df_geolocation = pd.read_csv(os.path.join(path,'Olist-Original Data (Kaggle)', 'olist_geolocation_dataset.csv'), index_col = False)

In [23]:
df_geolocation.shape

(1000163, 5)

In [24]:
#importing order items data from the project folder

df_order_items = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\olist_order_items_dataset.csv', index_col = False)

In [25]:
df_order_items = pd.read_csv(os.path.join(path, 'Olist-Original Data (Kaggle)', 'olist_order_items_dataset.csv'), index_col = False)

In [26]:
df_order_items.shape

(112650, 7)

In [27]:
#importing order payments data from the project folder

df_order_payments = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\olist_order_payments_dataset.csv', index_col = False)

In [28]:
df_order_payments = pd.read_csv(os.path.join(path, 'Olist-Original Data (Kaggle)', 'olist_order_payments_dataset.csv'), index_col = False)

In [29]:
df_order_payments.shape

(103886, 5)

In [30]:
#importing order reviews data from the project folder

df_order_reviews = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\olist_order_reviews_dataset.csv', index_col = False)

In [31]:
df_order_reviews = pd.read_csv(os.path.join(path, 'Olist-Original Data (Kaggle)', 'olist_order_reviews_dataset.csv'), index_col = False)

In [32]:
df_order_reviews.shape

(99224, 7)

In [33]:
#importing orders data from the project folder

df_orders = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\olist_orders_dataset.csv', index_col = False)

In [34]:
df_orders = pd.read_csv(os.path.join(path, 'Olist-Original Data (Kaggle)', 'olist_orders_dataset.csv'), index_col = False)

In [35]:
df_orders.shape

(99441, 8)

In [36]:
#importing products data from the project folder

df_products = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\olist_products_dataset.csv', index_col = False)

In [37]:
df_products = pd.read_csv(os.path.join(path,'Olist-Original Data (Kaggle)','olist_products_dataset.csv'), index_col = False)

In [38]:
df_products.shape

(32951, 9)

In [39]:
#importing sellers data from the project folder

df_sellers = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\olist_sellers_dataset.csv', index_col = False)

In [40]:
df_sellers = pd.read_csv(os.path.join(path,'Olist-Original Data (Kaggle)', 'olist_sellers_dataset.csv'), index_col = False)

In [41]:
df_sellers.shape

(3095, 4)

In [42]:
#importing product category name translated from Portuguese to English

df_product_translation = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\product_category_name_translation.csv', index_col = False)

In [43]:
df_product_translation = pd.read_csv(os.path.join(path,'Olist-Original Data (Kaggle)', 'product_category_name_translation.csv'), index_col = False)

In [44]:
df_product_translation.shape

(71, 2)

In [45]:
#Find missing values

df_customers.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [46]:
df_geolocation.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [47]:
df_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [48]:
df_order_items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [49]:
df_order_payments.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [50]:
df_order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [51]:
df_order_reviews.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [52]:
df_order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [53]:
df_order_reviews.tail(100)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
99124,6ec93e77f444e0b1703740a69122e35d,e1fdc6e9d1ca132377e862593a7c0bd4,5,NaN,Vendedor compromisso do vou o cliente,2017-10-07 00:00:00,2017-10-07 19:47:11
99125,92f7668f880c5774b78a928ec7e9e5a8,666cef1ea6542e749eed5394238041a2,5,NaN,Adorei os pendentes veio do jeitinho q.pensei ...,2017-11-22 00:00:00,2017-11-22 21:22:56
99126,f37aef9f15a081d0790c6e76ad630160,354f62589ab0a15eb57e820d6fcbe9b5,4,NaN,NaN,2017-04-05 00:00:00,2017-04-06 17:51:00
99127,41ab6a6885ad757f124eb3879402dae3,e5cefdab54d9844f44c6d68f3611f145,5,NaN,NaN,2018-05-12 00:00:00,2018-05-12 16:59:28
99128,94756df369bf6a028be944d3d05c8883,e2fbbc5e799749941a23275230ee1d8b,4,NaN,NaN,2018-03-15 00:00:00,2018-03-15 12:53:58
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [54]:
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [55]:
df_orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [56]:
df_products.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [57]:
df_products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [58]:
df_products.tail()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [59]:
df_sellers.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [60]:
df_product_translation.isnull().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [61]:
df_order_reviews.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [62]:
df_order_items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [63]:
df_order_payments.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [64]:
df_order_reviews['review_comment_title'].value_counts(dropna = False)

NaN                          87656
Recomendo                      423
recomendo                      345
Bom                            293
super recomendo                270
                             ...
Luminaria sobrepor led 18        1
Não recebi.                      1
produto com lacre violado        1
Atraso Entrega                   1
Foto enganosa                    1
Name: review_comment_title, Length: 4528, dtype: int64

In [65]:
df_order_reviews['review_comment_message'].value_counts(dropna = False)

NaN                                                                                                                                                                                                    58247
Muito bom                                                                                                                                                                                                230
Bom                                                                                                                                                                                                      189
muito bom                                                                                                                                                                                                122
bom                                                                                                                                                                                                      107
                                                                                                                                                                                                       ...
Devido incompatibilidade vou devolver, ótimo produto!                                                                                                                                                      1
Infelizmente não! A qualidade do produto não agradou.Impressão da foto em exposição remete a um tamanho maior e a recebida sequer atende a uma criança. PRODUTO NÃO JUSTIFICA O VALOR INFELIZMENTE!        1
entrega na data prevista,somente a qualidade do material não é o mesmo que eu pensava mas pelo preço ta valido                                                                                             1
otímo                                                                                                                                                                                                      1
meu produto chegou e ja tenho que devolver, pois está com defeito , não segurar carga                                                                                                                      1
Name: review_comment_message, Length: 36160, dtype: int64

In [66]:
df_orders['order_approved_at'].value_counts(dropna = False)

NaN                    160
2018-02-27 04:31:10      9
2018-02-06 05:31:52      7
2017-11-07 07:30:38      7
2017-12-05 10:30:42      7
                      ...
2018-08-22 11:50:14      1
2017-09-22 11:27:36      1
2018-03-07 16:40:32      1
2017-08-08 10:50:15      1
2018-03-09 11:20:28      1
Name: order_approved_at, Length: 90734, dtype: int64

In [67]:
df_orders['order_delivered_carrier_date'].value_counts(dropna = False)

NaN                    1783
2018-05-09 15:48:00      47
2018-05-10 18:29:00      32
2018-05-07 12:31:00      21
2018-07-24 16:07:00      16
                       ...
2018-01-03 17:37:21       1
2017-10-27 20:07:58       1
2017-11-21 18:57:37       1
2018-03-21 20:03:37       1
2018-03-09 22:11:59       1
Name: order_delivered_carrier_date, Length: 81019, dtype: int64

In [68]:
df_orders['order_delivered_customer_date'].value_counts(dropna = False)

NaN                    2965
2018-07-24 21:36:42       3
2018-05-08 23:38:46       3
2018-05-14 20:02:44       3
2017-12-02 00:26:45       3
                       ...
2018-07-12 17:48:45       1
2018-05-18 18:24:36       1
2018-01-17 13:29:13       1
2018-06-29 11:21:34       1
2018-03-16 13:08:30       1
Name: order_delivered_customer_date, Length: 95665, dtype: int64

In [69]:
df_orders.to_csv(os.path.join(path, 'Cleaned Data (Achievement 6.1)', 'df_orders_cleaned' ))

In [70]:
df_products['product_category_name'].value_counts(dropna = False)

cama_mesa_banho                  3029
esporte_lazer                    2867
moveis_decoracao                 2657
beleza_saude                     2444
utilidades_domesticas            2335
                                 ...
fashion_roupa_infanto_juvenil       5
casa_conforto_2                     5
pc_gamer                            3
seguros_e_servicos                  2
cds_dvds_musicais                   1
Name: product_category_name, Length: 74, dtype: int64

In [71]:
df_products['product_name_lenght'].value_counts(dropna = False)

60.0    2182
59.0    2025
58.0    1887
57.0    1719
55.0    1683
        ...
66.0       1
72.0       1
67.0       1
76.0       1
6.0        1
Name: product_name_lenght, Length: 67, dtype: int64

In [72]:
df_products['product_photos_qty'].value_counts(dropna = False)

1.0     16489
2.0      6263
3.0      3860
4.0      2428
5.0      1484
6.0       968
NaN       610
7.0       343
8.0       192
9.0       105
10.0       95
11.0       46
12.0       35
13.0        9
15.0        8
17.0        7
14.0        5
18.0        2
20.0        1
19.0        1
Name: product_photos_qty, dtype: int64

In [73]:
df_products.to_csv(os.path.join(path, 'Cleaned Data (Achievement 6.1)', 'df_products_cleaned' ))

In [74]:
#Time to Start Merging the Cleaned Dataframes

In [75]:
#Rename the geolocation_zip_code_prefix
df_geolocation.rename(columns = {'geolocation_zip_code_prefix' : 'zip_code_prefix'}, inplace = True)

In [76]:
#Rename the seller_zip_code_prefix
df_sellers.rename(columns = {'seller_zip_code_prefix' : 'zip_code_prefix'}, inplace = True)

In [77]:
#Rename the customer_zip_code_prefix
df_customers.rename(columns = {'customer_zip_code_prefix': 'zip_code_prefix'}, inplace = True)

In [78]:
#Merge the geolocation and sellers dataframes
df_geolocation_sellers_merged = df_geolocation.merge(df_sellers, on = 'zip_code_prefix')

In [79]:
df_geolocation_sellers_merged.head()

,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,seller_id,seller_city,seller_state
0,1041,-23.544392,-46.639499,sao paulo,SP,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
1,1041,-23.543539,-46.640577,sao paulo,SP,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
2,1041,-23.543713,-46.640263,sao paulo,SP,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
3,1041,-23.543713,-46.640263,sao paulo,SP,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
4,1041,-23.543539,-46.640577,sao paulo,SP,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP

In [80]:
df_geolocation_sellers_merged

,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,seller_id,seller_city,seller_state
0,1041,-23.544392,-46.639499,sao paulo,SP,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
1,1041,-23.543539,-46.640577,sao paulo,SP,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
2,1041,-23.543713,-46.640263,sao paulo,SP,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
3,1041,-23.543713,-46.640263,sao paulo,SP,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
4,1041,-23.543539,-46.640577,sao paulo,SP,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
...,...,...,...,...,...,...,...,...
435082,99730,-27.726741,-52.538420,jacutinga,RS,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435083,99730,-27.729373,-52.537491,jacutinga,RS,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435084,99730,-27.729782,-52.533930,jacutinga,RS,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435085,99730,-27.727540,-52.539263,jacutinga,RS,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435086,99730,-27.729373,-52.537491,jacutinga,RS,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS

In [81]:
#Drop unecessary columns
df_geolocation_sellers_merged_clean = df_geolocation_sellers_merged.drop(columns = ['geolocation_city', 'geolocation_state'])

In [82]:
df_geolocation_sellers_merged_clean

,zip_code_prefix,geolocation_lat,geolocation_lng,seller_id,seller_city,seller_state
0,1041,-23.544392,-46.639499,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
1,1041,-23.543539,-46.640577,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
2,1041,-23.543713,-46.640263,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
3,1041,-23.543713,-46.640263,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
4,1041,-23.543539,-46.640577,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
...,...,...,...,...,...,...
435082,99730,-27.726741,-52.538420,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435083,99730,-27.729373,-52.537491,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435084,99730,-27.729782,-52.533930,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435085,99730,-27.727540,-52.539263,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435086,99730,-27.729373,-52.537491,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS

In [83]:
#Rename columns for clearer labeling
df_geolocation_sellers_merged_clean.rename(columns = {'geolocation_lat': 'seller_lat'}, inplace = True)
df_geolocation_sellers_merged_clean.rename(columns = {'geolocation_lng': 'seller_lng'}, inplace = True)

In [84]:
df_geolocation_sellers_merged_clean

,zip_code_prefix,seller_lat,seller_lng,seller_id,seller_city,seller_state
0,1041,-23.544392,-46.639499,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
1,1041,-23.543539,-46.640577,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
2,1041,-23.543713,-46.640263,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
3,1041,-23.543713,-46.640263,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
4,1041,-23.543539,-46.640577,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
...,...,...,...,...,...,...
435082,99730,-27.726741,-52.538420,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435083,99730,-27.729373,-52.537491,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435084,99730,-27.729782,-52.533930,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435085,99730,-27.727540,-52.539263,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435086,99730,-27.729373,-52.537491,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS

In [85]:
df_order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [86]:
#Merge the geolocation-sellers and order-items dataframes
df_geolocation_sellers_items_merged_update = df_order_items.merge(df_geolocation_sellers_merged_clean, on = 'seller_id')

In [87]:
df_geolocation_sellers_items_merged_update.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix,seller_lat,seller_lng,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.498183,-44.123614,volta redonda,SP
1,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.487885,-44.131566,volta redonda,SP
2,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.501227,-44.132443,volta redonda,SP
3,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.500389,-44.124773,volta redonda,SP
4,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.499963,-44.127571,volta redonda,SP

In [88]:
df_geolocation_sellers_items_merged_update

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix,seller_lat,seller_lng,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.498183,-44.123614,volta redonda,SP
1,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.487885,-44.131566,volta redonda,SP
2,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.501227,-44.132443,volta redonda,SP
3,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.500389,-44.124773,volta redonda,SP
4,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.499963,-44.127571,volta redonda,SP
...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,ff701a7c869ad21de22a6994237c8a00,2,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,2018-04-18 20:10:33,27.9,14.44,3124,-23.572078,-46.593056,sao paulo,SP
16252415,ff701a7c869ad21de22a6994237c8a00,2,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,2018-04-18 20:10:33,27.9,14.44,3124,-23.572567,-46.590970,sao paulo,SP
16252416,ff701a7c869ad21de22a6994237c8a00,2,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,2018-04-18 20:10:33,27.9,14.44,3124,-23.571678,-46.589942,sao paulo,SP
16252417,ff701a7c869ad21de22a6994237c8a00,2,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,2018-04-18 20:10:33,27.9,14.44,3124,-23.569520,-46.590658,sao paulo,SP
16252418,ff701a7c869ad21de22a6994237c8a00,2,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,2018-04-18 20:10:33,27.9,14.44,3124,-23.571832,-46.589692,sao paulo,SP

In [95]:
#Drop unnecessary columns
df_geolocation_sellers_items_merged_update_clean = df_geolocation_sellers_items_merged_update.drop(columns = ['order_item_id'])

In [96]:
#Merge the geolocation-sellers-items and orders dataframes
df_geolocation_sellers_items_orders = df_orders.merge(df_geolocation_sellers_items_merged_update_clean, on = 'order_id')

MemoryError: Unable to allocate 496. MiB for an array with shape (4, 16252419) and data type float64

In [97]:
df_geolocation_sellers_items_orders.head()

NameError: name 'df_geolocation_sellers_items_orders' is not defined

In [98]:
df_geolocation_sellers_items_orders

NameError: name 'df_geolocation_sellers_items_orders' is not defined

In [89]:
#Drop the unecessary columns
df_geolocation_sellers_items_orders_merged_clean = df_geolocation_sellers_items_orders.drop(columns = ['order_status', 'product_id'])

In [10]:
df_geolocation_sellers_items_orders_merged_clean.head(10)

NameError: name 'df_geolocation_sellers_items_orders_merged_clean' is not defined

In [98]:
df_geolocation_sellers_items_orders_merged_clean

,order_id,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix,seller_lat,seller_lng,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.680114,-46.452454,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.675223,-46.441038,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.685712,-46.444796,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.679951,-46.448247,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.678662,-46.442578,maua,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36,14407,-20.486153,-47.420998,franca,SP
16252415,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36,14407,-20.475119,-47.414534,franca,SP
16252416,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36,14407,-20.488723,-47.409148,franca,SP
16252417,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36,14407,-20.475478,-47.414575,franca,SP
16252418,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36,14407,-20.509864,-47.427484,franca,SP

In [92]:
#Merge the geolocation and customer dataframes
df_geolocation_customers_merged = df_customers.merge(df_geolocation, on = 'zip_code_prefix')

In [9]:
df_geolocation_customers_merged.head()

NameError: name 'df_geolocation_customers_merged' is not defined

In [94]:
#Drop the unnecessary columns prior to the merge with the geolocation_sellers_items_orders dataframe
df_geolocation_customers_clean = df_geolocation_customers_merged.drop(columns = ['customer_unique_id', 'geolocation_state', 'geolocation_city'])

In [95]:
df_geolocation_customers_clean

,customer_id,zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.509897,-47.397866
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.497396,-47.399241
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.510459,-47.399553
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.480940,-47.394161
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.515413,-47.398194
...,...,...,...,...,...,...
15083450,d9110683c7a282144e9fc97660026a28,74980,aparecida de goiania,GO,-16.821866,-49.244027
15083451,d9110683c7a282144e9fc97660026a28,74980,aparecida de goiania,GO,-16.821866,-49.244027
15083452,d9110683c7a282144e9fc97660026a28,74980,aparecida de goiania,GO,-16.822945,-49.244615
15083453,6fb4f2354f36e554ac80141e9128f528,99043,passo fundo,RS,-28.226596,-52.467505
15083454,6fb4f2354f36e554ac80141e9128f528,99043,passo fundo,RS,-28.226596,-52.467505

In [8]:
#Rename certain columns
df_geolocation_customers_clean.rename(columns = {'zip_code_prefix': 'customer_zip_code'}, inplace = True)
df_geolocation_customers_clean.rename(columns = {'geolocation_lat': 'customer_lat'}, inplace = True)
df_geolocation_customers_clean.rename(columns = {'geolocation_lng': 'customer_lng'}, inplace = True)

NameError: name 'df_geolocation_customers_clean' is not defined

In [97]:
df_geolocation_customers_clean

,customer_id,customer_zip_code,customer_city,customer_state,customer_lat,customer_lng
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.509897,-47.397866
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.497396,-47.399241
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.510459,-47.399553
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.480940,-47.394161
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.515413,-47.398194
...,...,...,...,...,...,...
15083450,d9110683c7a282144e9fc97660026a28,74980,aparecida de goiania,GO,-16.821866,-49.244027
15083451,d9110683c7a282144e9fc97660026a28,74980,aparecida de goiania,GO,-16.821866,-49.244027
15083452,d9110683c7a282144e9fc97660026a28,74980,aparecida de goiania,GO,-16.822945,-49.244615
15083453,6fb4f2354f36e554ac80141e9128f528,99043,passo fundo,RS,-28.226596,-52.467505
15083454,6fb4f2354f36e554ac80141e9128f528,99043,passo fundo,RS,-28.226596,-52.467505

In [101]:
#Merge the sellers_items_orders and geolocation_customers dataframes
df_geolocation_customers_sellers_items_orders = df_geolocation.merge(df_geolocation_sellers_items_orders_merged_clean, on = 'customer_id')

In [7]:
df_geolocation_customers_sellers_items_orders

NameError: name 'df_geolocation_customers_sellers_items_orders' is not defined

In [6]:
#Drop unnecessary columns
df_geolocation_customers_sellers_items_orders_clean = df_geolocation_customers_sellers_items_orders.drop(columns = ['customer_unique_id', 'order_id'])

NameError: name 'df_geolocation_customers_sellers_items_orders' is not defined

In [158]:
#Rename certain columns
df_geolocation_customers_sellers_items_orders_clean.rename(columns = {'zip_code_prefix_x': 'customer_zip_code'}, inplace = True)
df_geolocation_customers_sellers_items_orders_clean.rename(columns = {'zip_code_prefix_y': 'seller_zip_code'}, inplace = True)
df_geolocation_customers_sellers_items_orders_clean.rename(columns = {'geolocation_lat': 'customer_lat'}, inplace = True)
df_geolocation_customers_sellers_items_orders_clean.rename(columns = {'geolocation_lng': 'customer_lng'}, inplace = True)

In [159]:
df_geolocation_customers_sellers_items_orders_clean

,customer_id,customer_zip_code,customer_city,customer_state,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,seller_id,shipping_limit_date,price,freight_value,seller_zip_code,seller_lat,seller_lng,seller_city,seller_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.482623,-46.374490,itaquaquecetuba,SP
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.489888,-46.372657,itaquaquecetuba,SP
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.483042,-46.374934,itaquaquecetuba,SP
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.479473,-46.360819,itaquaquecetuba,SP
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.489348,-46.361394,itaquaquecetuba,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.501594,-46.485147,sao paulo,SP
16252415,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.494657,-46.482533,sao paulo,SP
16252416,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.499287,-46.482976,sao paulo,SP
16252417,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.503812,-46.483090,sao paulo,SP
16252418,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.496444,-46.480933,sao paulo,SP

In [166]:
df_geolocation_customers_sellers_items_orders_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 18 columns):
 #   Column                         Dtype
---  ------                         -----
 0   customer_id                    object
 1   customer_zip_code              int64
 2   customer_city                  object
 3   customer_state                 object
 4   order_purchase_timestamp       object
 5   order_approved_at              object
 6   order_delivered_carrier_date   object
 7   order_delivered_customer_date  object
 8   order_estimated_delivery_date  object
 9   seller_id                      object
 10  shipping_limit_date            object
 11  price                          float64
 12  freight_value                  float64
 13  seller_zip_code                int64
 14  seller_lat                     float64
 15  seller_lng                     float64
 16  seller_city                    object
 17  seller_state                   object
dtypes: float64(4), int64(2), object(12)
memory usage: 2.3+ GB

In [174]:
#Convert the delivered, order purchase, order approved, estimated delivery, and order delivered to carrier dates to datetime format
df_geolocation_customers_sellers_items_orders_clean['order_purchase_timestamp'] = df_geolocation_customers_sellers_items_orders_clean['order_purchase_timestamp'].astype('datetime64[ns]')
df_geolocation_customers_sellers_items_orders_clean['order_delivered_customer_date'] = df_geolocation_customers_sellers_items_orders_clean['order_delivered_customer_date'].astype('datetime64[ns]')
df_geolocation_customers_sellers_items_orders_clean['order_estimated_delivery_date'] = df_geolocation_customers_sellers_items_orders_clean['order_estimated_delivery_date'].astype('datetime64[ns]')
df_geolocation_customers_sellers_items_orders_clean['order_delivered_carrier_date'] = df_geolocation_customers_sellers_items_orders_clean['order_delivered_carrier_date'].astype('datetime64[ns]')
df_geolocation_customers_sellers_items_orders_clean['order_approved_at'] = df_geolocation_customers_sellers_items_orders_clean['order_approved_at'].astype('datetime64[ns]')

In [175]:
df_geolocation_customers_sellers_items_orders_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 18 columns):
 #   Column                         Dtype
---  ------                         -----
 0   customer_id                    object
 1   customer_zip_code              int64
 2   customer_city                  object
 3   customer_state                 object
 4   order_purchase_timestamp       datetime64[ns]
 5   order_approved_at              datetime64[ns]
 6   order_delivered_carrier_date   datetime64[ns]
 7   order_delivered_customer_date  datetime64[ns]
 8   order_estimated_delivery_date  datetime64[ns]
 9   seller_id                      object
 10  shipping_limit_date            object
 11  price                          float64
 12  freight_value                  float64
 13  seller_zip_code                int64
 14  seller_lat                     float64
 15  seller_lng                     float64
 16  seller_city                    object
 17  seller_state                   object
dtypes: datetime64[ns](5), float64(4), int64(2), object(7)
memory usage: 2.3+ GB

In [5]:
df_geolocation_customers_sellers_items_orders_clean

NameError: name 'df_geolocation_customers_sellers_items_orders_clean' is not defined

In [192]:
#Calculate the time difference between actual delivery date and order purchase date
df_geolocation_customers_sellers_items_orders_clean ['Delivery-Purchase_Time_Difference'] = df_geolocation_customers_sellers_items_orders_clean['order_delivered_customer_date'] - df_geolocation_customers_sellers_items_orders_clean['order_purchase_timestamp']

#Calculate the time difference between estimated delivery date and order purchase date
df_geolocation_customers_sellers_items_orders_clean ['Estimated-Purchase_Time_Difference'] = df_geolocation_customers_sellers_items_orders_clean['order_estimated_delivery_date'] - df_geolocation_customers_sellers_items_orders_clean['order_purchase_timestamp']

#Calculate the time difference between order approval date and order purchase date
df_geolocation_customers_sellers_items_orders_clean ['Approval-Purchase_Time_Difference'] = df_geolocation_customers_sellers_items_orders_clean['order_approved_at'] - df_geolocation_customers_sellers_items_orders_clean['order_purchase_timestamp']

#Calculate the time difference between delivery to the carrier and order purchase date
df_geolocation_customers_sellers_items_orders_clean ['Carrier_Delivered-Order_Time_Difference'] = df_geolocation_customers_sellers_items_orders_clean['order_delivered_carrier_date'] - df_geolocation_customers_sellers_items_orders_clean['order_purchase_timestamp']

In [198]:
#Convert the calculated time differences into minute amounts in the integer or float format
df_geolocation_customers_sellers_items_orders_clean ['Delivery-Purchase_Time_Difference_Min'] = df_geolocation_customers_sellers_items_orders_clean ['Delivery-Purchase_Time_Difference']/pd.Timedelta(minutes=1)
df_geolocation_customers_sellers_items_orders_clean ['Estimated-Purchase_Time_Difference_Min'] = df_geolocation_customers_sellers_items_orders_clean ['Estimated-Purchase_Time_Difference']/pd.Timedelta(minutes=1)
df_geolocation_customers_sellers_items_orders_clean ['Approval-Purchase_Time_Difference_Min'] = df_geolocation_customers_sellers_items_orders_clean ['Approval-Purchase_Time_Difference']/pd.Timedelta(minutes=1)
df_geolocation_customers_sellers_items_orders_clean ['Carrier_Delivered-Order_Time_Difference_Min'] = df_geolocation_customers_sellers_items_orders_clean ['Carrier_Delivered-Order_Time_Difference']/pd.Timedelta(minutes=1)

In [199]:
df_geolocation_customers_sellers_items_orders_clean.head()

,customer_id,customer_zip_code,customer_city,customer_state,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,seller_id,...,Delivery-Order_Time_Difference,Delivery-Purchase_Time_Difference,Estimated-Purchase_Time_Difference,Approval-Purchase_Time_Difference,Carrier_Delivered-Order_Time_Difference,Delivery-Purchase_Time_Difference_Minutes,Delivery-Purchase_Time_Difference_Min,Estimated-Purchase_Time_Difference_Min,Approval-Purchase_Time_Difference_Min,Carrier_Delivered-Order_Time_Difference_Min
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8 days 19:30:00,8 days 19:30:00,19 days 08:54:25,0 days 00:16:37,6 days 19:42:22,12690.0,12690.0,27894.416667,16.616667,9822.366667
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8 days 19:30:00,8 days 19:30:00,19 days 08:54:25,0 days 00:16:37,6 days 19:42:22,12690.0,12690.0,27894.416667,16.616667,9822.366667
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8 days 19:30:00,8 days 19:30:00,19 days 08:54:25,0 days 00:16:37,6 days 19:42:22,12690.0,12690.0,27894.416667,16.616667,9822.366667
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8 days 19:30:00,8 days 19:30:00,19 days 08:54:25,0 days 00:16:37,6 days 19:42:22,12690.0,12690.0,27894.416667,16.616667,9822.366667
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8 days 19:30:00,8 days 19:30:00,19 days 08:54:25,0 days 00:16:37,6 days 19:42:22,12690.0,12690.0,27894.416667,16.616667,9822.366667

In [4]:
df_geolocation_customers_sellers_items_orders_clean.info()

NameError: name 'df_geolocation_customers_sellers_items_orders_clean' is not defined

In [213]:
#Drop the Time-Difference Columns with timedelta64 format and any other unnecessary columns
df_geolocation_customers_sellers_items_orders_clean_final= df_geolocation_customers_sellers_items_orders_clean.drop(columns = ['Delivery-Order_Time_Difference', 'Delivery-Purchase_Time_Difference', 'Estimated-Purchase_Time_Difference', 'Approval-Purchase_Time_Difference', 'Carrier_Delivered-Order_Time_Difference'])

MemoryError: Unable to allocate 248. MiB for an array with shape (2, 16252419) and data type object

In [3]:
df_geolocation_customers_sellers_items_orders_clean_final.info()

NameError: name 'df_geolocation_customers_sellers_items_orders_clean_final' is not defined

In [204]:
df_geolocation_customers_sellers_items_orders_clean_final.head()

,customer_id,customer_zip_code,customer_city,customer_state,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,seller_id,...,seller_zip_code,seller_lat,seller_lng,seller_city,seller_state,Delivery-Purchase_Time_Difference_Minutes,Delivery-Purchase_Time_Difference_Min,Estimated-Purchase_Time_Difference_Min,Approval-Purchase_Time_Difference_Min,Carrier_Delivered-Order_Time_Difference_Min
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.482623,-46.374490,itaquaquecetuba,SP,12690.0,12690.0,27894.416667,16.616667,9822.366667
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.489888,-46.372657,itaquaquecetuba,SP,12690.0,12690.0,27894.416667,16.616667,9822.366667
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.483042,-46.374934,itaquaquecetuba,SP,12690.0,12690.0,27894.416667,16.616667,9822.366667
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.479473,-46.360819,itaquaquecetuba,SP,12690.0,12690.0,27894.416667,16.616667,9822.366667
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.489348,-46.361394,itaquaquecetuba,SP,12690.0,12690.0,27894.416667,16.616667,9822.366667

In [214]:
#Convert seller_zip_code and customer_zip_code into smaller datatypes

df_geolocation_customers_sellers_items_orders_clean_final['customer_zip_code']=df_geolocation_customers_sellers_items_orders_clean_final['customer_zip_code'].astype('int16')
df_geolocation_customers_sellers_items_orders_clean_final['seller_zip_code']=df_geolocation_customers_sellers_items_orders_clean_final['seller_zip_code'].astype('int16')

In [215]:
df_geolocation_customers_sellers_items_orders_clean_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 23 columns):
 #   Column                                       Dtype
---  ------                                       -----
 0   customer_id                                  object
 1   customer_zip_code                            int16
 2   customer_city                                object
 3   customer_state                               object
 4   order_purchase_timestamp                     datetime64[ns]
 5   order_approved_at                            datetime64[ns]
 6   order_delivered_carrier_date                 datetime64[ns]
 7   order_delivered_customer_date                datetime64[ns]
 8   order_estimated_delivery_date                datetime64[ns]
 9   seller_id                                    object
 10  shipping_limit_date                          object
 11  price                                        float64
 12  freight_value                                float64
 13  seller_zip_code                              int16
 14  seller_lat                                   float64
 15  seller_lng                                   float64
 16  seller_city                                  object
 17  seller_state                                 object
 18  Delivery-Purchase_Time_Difference_Minutes    float64
 19  Delivery-Purchase_Time_Difference_Min        float64
 20  Estimated-Purchase_Time_Difference_Min       float64
 21  Approval-Purchase_Time_Difference_Min        float64
 22  Carrier_Delivered-Order_Time_Difference_Min  float64
dtypes: datetime64[ns](5), float64(9), int16(2), object(7)
memory usage: 2.7+ GB

In [ ]:
df_geolocation_customers_sellers_items_orders_clean_final.head()

# Drop rows based on missing or negative values

In [2]:
#Determine the number of missing values in each column
df_geolocation_customers_sellers_items_orders_clean_final.isna().sum()

NameError: name 'df_geolocation_customers_sellers_items_orders_clean_final' is not defined

In [ ]:
#Drop rows with negative values for Carrier_Delivered-Order_Time_Difference_Min

In [205]:
df_geolocation_customers_sellers_items_orders_clean_final

,customer_id,customer_zip_code,customer_city,customer_state,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,seller_id,...,seller_zip_code,seller_lat,seller_lng,seller_city,seller_state,Delivery-Purchase_Time_Difference_Minutes,Delivery-Purchase_Time_Difference_Min,Estimated-Purchase_Time_Difference_Min,Approval-Purchase_Time_Difference_Min,Carrier_Delivered-Order_Time_Difference_Min
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.482623,-46.374490,itaquaquecetuba,SP,12690.000000,12690.000000,27894.416667,16.616667,9822.366667
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.489888,-46.372657,itaquaquecetuba,SP,12690.000000,12690.000000,27894.416667,16.616667,9822.366667
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.483042,-46.374934,itaquaquecetuba,SP,12690.000000,12690.000000,27894.416667,16.616667,9822.366667
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.479473,-46.360819,itaquaquecetuba,SP,12690.000000,12690.000000,27894.416667,16.616667,9822.366667
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.489348,-46.361394,itaquaquecetuba,SP,12690.000000,12690.000000,27894.416667,16.616667,9822.366667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08,3c7c4a49ec3c6550809089c6a2ca9370,...,3804,-23.501594,-46.485147,sao paulo,SP,10335.216667,10335.216667,27932.616667,263.266667,3169.966667
16252415,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08,3c7c4a49ec3c6550809089c6a2ca9370,...,3804,-23.494657,-46.482533,sao paulo,SP,10335.216667,10335.216667,27932.616667,263.266667,3169.966667
16252416,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08,3c7c4a49ec3c6550809089c6a2ca9370,...,3804,-23.499287,-46.482976,sao paulo,SP,10335.216667,10335.216667,27932.616667,263.266667,3169.966667
16252417,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08,3c7c4a49ec3c6550809089c6a2ca9370,...,3804,-23.503812,-46.483090,sao paulo,SP,10335.216667,10335.216667,27932.616667,263.266667,3169.966667
16252418,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08,3c7c4a49ec3c6550809089c6a2ca9370,...,3804,-23.496444,-46.480933,sao paulo,SP,10335.216667,10335.216667,27932.616667,263.266667,3169.966667

In [212]:
#Export the new dataset
df_geolocation_customers_sellers_items_orders_clean_final.to_csv(os.path.join(path, 'Olist-Original Data (Kaggle)','df_geolocation_customers_sellers_items_orders_clean.csv'))

# Disregard the Code that Follows

In [138]:
df_geolocation_customers_sellers_items_orders_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 18 columns):
 #   Column                         Dtype
---  ------                         -----
 0   customer_id                    object
 1   zip_code_prefix                int16
 2   customer_city                  object
 3   customer_state                 object
 4   order_purchase_timestamp       object
 5   order_approved_at              object
 6   order_delivered_carrier_date   object
 7   order_delivered_customer_date  object
 8   order_estimated_delivery_date  object
 9   seller_id                      object
 10  shipping_limit_date            object
 11  price                          float64
 12  freight_value                  float64
 13  seller_zip_code                int64
 14  seller_lat                     float64
 15  seller_lng                     float64
 16  seller_city                    object
 17  seller_state                   object
dtypes: float64(4), int16(1), int64(1), object(12)
memory usage: 2.2+ GB

In [140]:
df_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   zip_code_prefix    1000163 non-null  int64
 1   geolocation_lat    1000163 non-null  float64
 2   geolocation_lng    1000163 non-null  float64
 3   geolocation_city   1000163 non-null  object
 4   geolocation_state  1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [141]:
df_geolocation['zip_code_prefix']=df_geolocation['zip_code_prefix'].astype('int16')

In [142]:
df_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   zip_code_prefix    1000163 non-null  int16
 1   geolocation_lat    1000163 non-null  float64
 2   geolocation_lng    1000163 non-null  float64
 3   geolocation_city   1000163 non-null  object
 4   geolocation_state  1000163 non-null  object
dtypes: float64(2), int16(1), object(2)
memory usage: 32.4+ MB

In [143]:
df_geolocation_update = df_geolocation.drop(columns = ['geolocation_city', 'geolocation_state'])

In [144]:
df_geolocation_update

         zip_code_prefix  geolocation_lat  geolocation_lng
0                   1037       -23.545621       -46.639292
1                   1046       -23.546081       -46.644820
2                   1046       -23.546129       -46.642951
3                   1041       -23.544392       -46.639499
4                   1035       -23.541578       -46.641607
...                  ...              ...              ...
1000158           -31122       -28.068639       -52.010705
1000159           -31172       -27.877125       -52.224882
1000160           -31122       -28.071855       -52.014716
1000161           -31092       -28.388932       -51.846871
1000162           -31122       -28.070104       -52.018658

[1000163 rows x 3 columns]

In [146]:
df_geolocation_update.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 3 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   zip_code_prefix  1000163 non-null  int16
 1   geolocation_lat  1000163 non-null  float64
 2   geolocation_lng  1000163 non-null  float64
dtypes: float64(2), int16(1)
memory usage: 17.2 MB

In [145]:
df_geolocation_update.merge(df_geolocation_customers_sellers_items_orders_clean, on = 'zip_code_prefix')

MemoryError: Unable to allocate 30.0 GiB for an array with shape (4031192986,) and data type int64

In [80]:
#Drop unnecessary columns
df_geolocation_customers_merged_clean = df_geolocation_customers_merged.drop(columns = ['customer_unique_id', 'geolocation_city', 'geolocation_state'])

In [81]:
#Change data types of conserve memory
df_geolocation_customers_merged_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15083455 entries, 0 to 15083454
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   zip_code_prefix  int64
 1   geolocation_lat  float64
 2   geolocation_lng  float64
 3   customer_id      object
 4   customer_city    object
 5   customer_state   object
dtypes: float64(2), int64(1), object(3)
memory usage: 805.5+ MB

In [82]:
df_geolocation_customers_merged_clean['geolocation_lat']=df_geolocation_customers_merged_clean['geolocation_lat'].astype('float16')
df_geolocation_customers_merged_clean['geolocation_lng']=df_geolocation_customers_merged_clean['geolocation_lng'].astype('float16')
df_geolocation_customers_merged_clean['zip_code_prefix']=df_geolocation_customers_merged_clean['zip_code_prefix'].astype('int16')

In [83]:
df_geolocation_customers_merged_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15083455 entries, 0 to 15083454
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   zip_code_prefix  int16
 1   geolocation_lat  float16
 2   geolocation_lng  float16
 3   customer_id      object
 4   customer_city    object
 5   customer_state   object
dtypes: float16(2), int16(1), object(3)
memory usage: 546.6+ MB

In [84]:
df_geolocation_customers_merged_clean

,zip_code_prefix,geolocation_lat,geolocation_lng,customer_id,customer_city,customer_state
0,1037,-23.546875,-46.6250,05b005e82f3f2dcc41b5504f00484e50,sao paulo,SP
1,1037,-23.546875,-46.6250,19ee522d0dd140702062bb89e4820e19,sao paulo,SP
2,1037,-23.546875,-46.6250,6519f59a7687a4661f7c8a7e24f28f94,sao paulo,SP
3,1037,-23.546875,-46.6250,05b005e82f3f2dcc41b5504f00484e50,sao paulo,SP
4,1037,-23.546875,-46.6250,19ee522d0dd140702062bb89e4820e19,sao paulo,SP
...,...,...,...,...,...,...
15083450,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083451,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083452,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083453,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083454,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS

In [85]:
#Change the datatypes to conserve memory
df_geolocation_sellers_items_orders_merged.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,shipping_limit_date,price,freight_value,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,2017-10-06 11:07:15,29.99,8.72,9350,-23.680114,-46.452454,maua,SP,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,2017-10-06 11:07:15,29.99,8.72,9350,-23.675223,-46.441038,maua,SP,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,2017-10-06 11:07:15,29.99,8.72,9350,-23.685712,-46.444796,mauá,SP,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,2017-10-06 11:07:15,29.99,8.72,9350,-23.679951,-46.448247,maua,SP,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,2017-10-06 11:07:15,29.99,8.72,9350,-23.678662,-46.442578,maua,SP,maua,SP

In [86]:
#Drop redundant columns

df_geolocation_sellers_items_orders_merged_clean = df_geolocation_sellers_items_orders_merged.drop(columns = ['geolocation_state', 'geolocation_city', 'order_item_id', 'order_status', 'product_id', 'seller_id'])

In [87]:
df_geolocation_sellers_items_orders_merged_clean.head(10)

,order_id,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,shipping_limit_date,price,freight_value,zip_code_prefix,geolocation_lat,geolocation_lng,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.680114,-46.452454,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.675223,-46.441038,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.685712,-46.444796,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.679951,-46.448247,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.678662,-46.442578,maua,SP
5,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.671205,-46.441246,maua,SP
6,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.678236,-46.443867,maua,SP
7,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.682176,-46.450023,maua,SP
8,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.680241,-46.444044,maua,SP
9,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.686057,-46.447010,maua,SP

In [88]:
#Change the datatypes to conserve memory
df_geolocation_sellers_items_orders_merged_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 15 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       object
 1   customer_id                    object
 2   order_purchase_timestamp       object
 3   order_approved_at              object
 4   order_delivered_carrier_date   object
 5   order_delivered_customer_date  object
 6   order_estimated_delivery_date  object
 7   shipping_limit_date            object
 8   price                          float64
 9   freight_value                  float64
 10  zip_code_prefix                int64
 11  geolocation_lat                float64
 12  geolocation_lng                float64
 13  seller_city                    object
 14  seller_state                   object
dtypes: float64(4), int64(1), object(10)
memory usage: 1.9+ GB

In [114]:
df_geolocation_sellers_items_orders_merged_clean['price']=df_geolocation_sellers_items_orders_merged_clean['price'].astype('float16')
df_geolocation_sellers_items_orders_merged_clean['freight_value']=df_geolocation_sellers_items_orders_merged_clean['freight_value'].astype('float16')
df_geolocation_sellers_items_orders_merged_clean['geolocation_lat']=df_geolocation_sellers_items_orders_merged_clean['geolocation_lat'].astype('float16')
df_geolocation_sellers_items_orders_merged_clean['geolocation_lng']=df_geolocation_sellers_items_orders_merged_clean['geolocation_lng'].astype('float32')
df_geolocation_sellers_items_orders_merged_clean['zip_code_prefix']=df_geolocation_sellers_items_orders_merged_clean['zip_code_prefix'].astype('int16')

In [115]:
df_geolocation_sellers_items_orders_merged_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 15 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       object
 1   customer_id                    object
 2   order_purchase_timestamp       object
 3   order_approved_at              object
 4   order_delivered_carrier_date   object
 5   order_delivered_customer_date  object
 6   order_estimated_delivery_date  object
 7   shipping_limit_date            object
 8   price                          float16
 9   freight_value                  float16
 10  zip_code_prefix                int16
 11  geolocation_lat                float16
 12  geolocation_lng                float32
 13  seller_city                    object
 14  seller_state                   object
dtypes: float16(3), float32(1), int16(1), object(10)
memory usage: 1.5+ GB

In [116]:
df_geolocation_sellers_items_orders_merged_clean.head(10)

,order_id,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,shipping_limit_date,price,freight_value,zip_code_prefix,geolocation_lat,geolocation_lng,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.687500,-46.452454,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.671875,-46.441040,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.687500,-46.444798,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.687500,-46.448246,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.671875,-46.442577,maua,SP
5,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.671875,-46.441246,maua,SP
6,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.671875,-46.443867,maua,SP
7,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.687500,-46.450024,maua,SP
8,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.687500,-46.444042,maua,SP
9,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.687500,-46.447010,maua,SP

In [117]:
df_geolocation_customers_merged_clean

,zip_code_prefix,geolocation_lat,geolocation_lng,customer_id,customer_city,customer_state
0,1037,-23.546875,-46.6250,05b005e82f3f2dcc41b5504f00484e50,sao paulo,SP
1,1037,-23.546875,-46.6250,19ee522d0dd140702062bb89e4820e19,sao paulo,SP
2,1037,-23.546875,-46.6250,6519f59a7687a4661f7c8a7e24f28f94,sao paulo,SP
3,1037,-23.546875,-46.6250,05b005e82f3f2dcc41b5504f00484e50,sao paulo,SP
4,1037,-23.546875,-46.6250,19ee522d0dd140702062bb89e4820e19,sao paulo,SP
...,...,...,...,...,...,...
15083450,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083451,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083452,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083453,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083454,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS

In [118]:
df_geolocation_sellers_items_orders_merged_clean

,order_id,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,shipping_limit_date,price,freight_value,zip_code_prefix,geolocation_lat,geolocation_lng,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.687500,-46.452454,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.671875,-46.441040,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.687500,-46.444798,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.687500,-46.448246,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.671875,-46.442577,maua,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.484375,-47.420998,franca,SP
16252415,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.468750,-47.414536,franca,SP
16252416,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.484375,-47.409149,franca,SP
16252417,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.468750,-47.414574,franca,SP
16252418,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.515625,-47.427483,franca,SP

In [100]:
df_geolocation_sellers_items_orders_customers_merged = df_geolocation_customers_merged_clean.merge(df_geolocation_sellers_items_orders_merged_clean, on = 'customer_id')

NameError: name 'df_geolocation_customers_merged_clean' is not defined

In [121]:
df_geolocation_sellers_items_orders_merged_clean

,order_id,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,shipping_limit_date,price,freight_value,zip_code_prefix,geolocation_lat,geolocation_lng,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.687500,-46.452454,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.671875,-46.441040,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.687500,-46.444798,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.687500,-46.448246,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.671875,-46.442577,maua,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.484375,-47.420998,franca,SP
16252415,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.468750,-47.414536,franca,SP
16252416,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.484375,-47.409149,franca,SP
16252417,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.468750,-47.414574,franca,SP
16252418,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.515625,-47.427483,franca,SP

In [122]:
df_geolocation_sellers_items_orders_merged_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 15 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       object
 1   customer_id                    object
 2   order_purchase_timestamp       object
 3   order_approved_at              object
 4   order_delivered_carrier_date   object
 5   order_delivered_customer_date  object
 6   order_estimated_delivery_date  object
 7   shipping_limit_date            object
 8   price                          float16
 9   freight_value                  float16
 10  zip_code_prefix                int16
 11  geolocation_lat                float16
 12  geolocation_lng                float32
 13  seller_city                    object
 14  seller_state                   object
dtypes: float16(3), float32(1), int16(1), object(10)
memory usage: 1.5+ GB

In [123]:
df_geolocation

,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [124]:
df_geolocation.rename(columns = {'zip_code_prefix_y' : 'zip_code_prefix'}, inplace = True)

In [125]:
df_geolocation

,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [126]:
#Merge the geolocation data to the customers data
df_customers_geolocation = df_customers.merge(df_geolocation, on = 'zip_code_prefix')

In [127]:
df_customers_geolocation

,customer_id,customer_unique_id,zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.509897,-47.397866,franca,SP
1,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.497396,-47.399241,franca,SP
2,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.510459,-47.399553,franca,SP
3,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.480940,-47.394161,franca,SP
4,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.515413,-47.398194,franca,SP
...,...,...,...,...,...,...,...,...,...
15083450,d9110683c7a282144e9fc97660026a28,5cbfdb85ec130898108b32c50d619c39,74980,aparecida de goiania,GO,-16.821866,-49.244027,aparecida de goiania,GO
15083451,d9110683c7a282144e9fc97660026a28,5cbfdb85ec130898108b32c50d619c39,74980,aparecida de goiania,GO,-16.821866,-49.244027,aparecida de goiania,GO
15083452,d9110683c7a282144e9fc97660026a28,5cbfdb85ec130898108b32c50d619c39,74980,aparecida de goiania,GO,-16.822945,-49.244615,aparecida de goiania,GO
15083453,6fb4f2354f36e554ac80141e9128f528,3cc6f2e1b9199837fabb35ff4bf24884,99043,passo fundo,RS,-28.226596,-52.467505,passo fundo,RS
15083454,6fb4f2354f36e554ac80141e9128f528,3cc6f2e1b9199837fabb35ff4bf24884,99043,passo fundo,RS,-28.226596,-52.467505,passo fundo,RS

In [129]:
df_customers_geolocation_clean = df_customers_geolocation.drop(columns = ['customer_unique_id'])

MemoryError: Unable to allocate 230. MiB for an array with shape (2, 15083455) and data type object

In [ ]:
df_customers_geolocation_clean

In [294]:
#Merge geolocation_sellers_items_orders with customers
df_seller_item_orders_customers = df_geolocation_sellers_items_orders_merged_clean.merge(df_customers_geolocation_clean, on = 'customer_id')

MemoryError: Unable to allocate 18.7 GiB for an array with shape (2516029760,) and data type int64

In [ ]:
df_seller_item_orders_customers

In [ ]:
df_seller_item_orders_customers_clean = df_seller_item_orders_customers.drop(columns = ['customer_unique_id'])

In [ ]:
#Rename columns to be more clear

df_seller_item_orders_customers_clean.rename(columns = {'zip_code_prefix_y': 'zip_code_prefix'}, inplace = True)

In [ ]:
df_seller_item_orders_customers_clean

In [ ]:
#Merge geolocation coordinates to the customer zip code
df_seller_item_orders_customers.merge(df_geolocation, on = 'zip_code_prefix')

In [ ]:
df_seller_item_orders_customers_update

In [ ]:
#Geolocation to customer zip code
df_seller_item_orders_customers_update.merge(df_geolocation  ,on = 'zip_code_prefix')

In [95]:
df_geolocation.drop(columns = ['geolocation_city', 'geolocation_state'])

         zip_code_prefix  geolocation_lat  geolocation_lng
0                   1037       -23.545621       -46.639292
1                   1046       -23.546081       -46.644820
2                   1046       -23.546129       -46.642951
3                   1041       -23.544392       -46.639499
4                   1035       -23.541578       -46.641607
...                  ...              ...              ...
1000158            99950       -28.068639       -52.010705
1000159            99900       -27.877125       -52.224882
1000160            99950       -28.071855       -52.014716
1000161            99980       -28.388932       -51.846871
1000162            99950       -28.070104       -52.018658

[1000163 rows x 3 columns]

In [96]:
df_geolocation

,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [97]:
df_seller_item_orders_customers.merge(df_geolocation, on = 'zip_code_prefix')

NameError: name 'df_seller_item_orders_customers' is not defined

In [98]:
df_seller_item_orders_customers_clean

NameError: name 'df_seller_item_orders_customers_clean' is not defined

In [99]:
df_geolocation

,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [100]:
df_geolocation.rename(columns = {'zip_code_prefix': ''})

,,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [101]:
df_seller_item_orders_customers_clean.merge(df_geolocation, on = 'zip_code_prefix')

NameError: name 'df_seller_item_orders_customers_clean' is not defined

In [102]:
df_geolocation_customers_merged_clean

,zip_code_prefix,geolocation_lat,geolocation_lng,customer_id,customer_city,customer_state
0,1037,-23.546875,-46.6250,05b005e82f3f2dcc41b5504f00484e50,sao paulo,SP
1,1037,-23.546875,-46.6250,19ee522d0dd140702062bb89e4820e19,sao paulo,SP
2,1037,-23.546875,-46.6250,6519f59a7687a4661f7c8a7e24f28f94,sao paulo,SP
3,1037,-23.546875,-46.6250,05b005e82f3f2dcc41b5504f00484e50,sao paulo,SP
4,1037,-23.546875,-46.6250,19ee522d0dd140702062bb89e4820e19,sao paulo,SP
...,...,...,...,...,...,...
15083450,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083451,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083452,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083453,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083454,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS

In [110]:
df_geolocation_customers_merged_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15083455 entries, 0 to 15083454
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   zip_code_prefix  int16
 1   geolocation_lat  float16
 2   geolocation_lng  float16
 3   customer_id      object
 4   customer_city    object
 5   customer_state   object
dtypes: float16(2), int16(1), object(3)
memory usage: 546.6+ MB

In [109]:
#Merge the customers_geolocation dataframe and the geolocation_sellers_items_orders dataframe

df_geolocation_sellers_items_orders_merged_clean.merge(df_geolocation_customers_merged_clean, on = 'customer_id')

MemoryError: Unable to allocate 18.7 GiB for an array with shape (2516029760,) and data type int64

In [111]:
#Merge the geolocation_sellers_items_orders_merged and geolocation_customers_merged dataframes
df_geolocation_sellers_items_orders_customers_merged = df_geolocation_customers_merged.merge(df_geolocation_sellers_items_orders_merged, on = 'customer_id')

MemoryError: Unable to allocate 1.82 GiB for an array with shape (15, 16252419) and data type object

In [112]:
df_geolocation_sellers_items_orders_customers_merged.head()

NameError: name 'df_geolocation_sellers_items_orders_customers_merged' is not defined

In [113]:
#Drop the unnecessary columns

df_1 = df_geolocation_sellers_items_orders_customers_merged.drop(columns = ['customer_unique_id'])

NameError: name 'df_geolocation_sellers_items_orders_customers_merged' is not defined

In [107]:
df_1

NameError: name 'df_1' is not defined

In [75]:
df_2 = df_1.drop(columns = ['geolocation_state'])

In [76]:
df_2

,customer_id,zip_code_prefix_x,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,...,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix_y,geolocation_lat,geolocation_lng,geolocation_city,seller_city,seller_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.482623,-46.374490,itaquaquecetuba,itaquaquecetuba,SP
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.489888,-46.372657,itaquaquecetuba,itaquaquecetuba,SP
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.483042,-46.374934,itaquaquecetuba,itaquaquecetuba,SP
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.479473,-46.360819,itaquaquecetuba,itaquaquecetuba,SP
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.489348,-46.361394,itaquaquecetuba,itaquaquecetuba,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.501594,-46.485147,sao paulo,sao paulo,SP
16252415,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.494657,-46.482533,sao paulo,sao paulo,SP
16252416,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.499287,-46.482976,sao paulo,sao paulo,SP
16252417,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.503812,-46.483090,são paulo,sao paulo,SP
16252418,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.496444,-46.480933,são paulo,sao paulo,SP

In [77]:
df_3 = df_2.drop(columns = ['geolocation_city'])

In [78]:
df_3

,customer_id,zip_code_prefix_x,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,...,product_id,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix_y,geolocation_lat,geolocation_lng,seller_city,seller_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.482623,-46.374490,itaquaquecetuba,SP
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.489888,-46.372657,itaquaquecetuba,SP
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.483042,-46.374934,itaquaquecetuba,SP
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.479473,-46.360819,itaquaquecetuba,SP
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.489348,-46.361394,itaquaquecetuba,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.501594,-46.485147,sao paulo,SP
16252415,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.494657,-46.482533,sao paulo,SP
16252416,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.499287,-46.482976,sao paulo,SP
16252417,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.503812,-46.483090,sao paulo,SP
16252418,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.496444,-46.480933,sao paulo,SP

In [146]:
df_4 = df_3.drop(columns = ['order_status'])

MemoryError: Unable to allocate 744. MiB for an array with shape (6, 16252419) and data type object

In [96]:
df_4

,customer_id,customer_unique_id,zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-11 02:08:36,2018-04-13 20:06:37,2018-04-25 00:00:00
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-05 18:42:35,2018-04-11 18:54:45,2018-04-20 00:00:00
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-04-09 17:52:17,2018-05-09 19:03:15,2018-05-02 00:00:00
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-06 18:24:41,2017-11-16 19:58:39,2017-12-05 00:00:00
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00

In [129]:
df_5 = df_4.rename(columns = {'zip_code_prefix_x': 'customer_zip_code'}, inplace = True)

In [130]:
df_5

In [131]:
df_6 = df_5.rename(columns = {'zip_code_prefix_y': 'seller_zip_code'}, inplace = True)

AttributeError: 'NoneType' object has no attribute 'rename'

In [132]:
df_4 = df_customers_datasets_orders_merged = df_customers.merge(df_orders, on = 'customer_id')

In [108]:
df_customers_datasets_orders_merged.head()

NameError: name 'df_customers_datasets_orders_merged' is not defined

In [133]:
df_customers_datasets_orders_order_items_merged = df_customers_datasets_orders_merged.merge(df_order_items, on = 'order_id')

In [80]:
df_customers_datasets_orders_order_items_merged.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,1,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25

In [ ]:
df_customers_datasets_orders_order_items_merged

In [134]:
#Merge the df_customers_datasets_orders_order_items_merged and 
df_customers_sellers_items_orders_order_items_merged = df_customers_datasets_orders_order_items_merged.merge(df_geolocation_sellers_items_orders_customers_merged, on = 'customer_id')

In [137]:
df_customers_sellers_items_orders_order_items_merged.head(10)

,customer_id,customer_unique_id_x,zip_code_prefix,customer_city_x,customer_state_x,order_id_x,order_status_x,order_purchase_timestamp_x,order_approved_at_x,order_delivered_carrier_date_x,...,shipping_limit_date_y,price_y,freight_value_y,zip_code_prefix_y,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,seller_city,seller_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.482623,-46.374490,itaquaquecetuba,SP,itaquaquecetuba,SP
1,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.489888,-46.372657,itaquaquecetuba,SP,itaquaquecetuba,SP
2,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.483042,-46.374934,itaquaquecetuba,SP,itaquaquecetuba,SP
3,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.479473,-46.360819,itaquaquecetuba,SP,itaquaquecetuba,SP
4,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.489348,-46.361394,itaquaquecetuba,SP,itaquaquecetuba,SP
5,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.479915,-46.366931,itaquaquecetuba,SP,itaquaquecetuba,SP
6,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.490228,-46.364543,itaquaquecetuba,SP,itaquaquecetuba,SP
7,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.493543,-46.367711,itaquaquecetuba,SP,itaquaquecetuba,SP
8,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.492257,-46.366646,itaquaquecetuba,SP,itaquaquecetuba,SP
9,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.484039,-46.369152,itaquaquecetuba,SP,itaquaquecetuba,SP

In [171]:
#Drop the unnecessary columns

df_customers_sellers_items_orders_order_items_merged.drop(columns = ['geolocation_state'])

NameError: name 'df_customers_sellers_items_orders_order_items_merged' is not defined