In [2]:
import pandas as pd
import numpy as np
import os
import datetime

In [3]:
#importing customer data from the project folder

df_customers = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\olist_customers_dataset.csv', index_col = False)

In [4]:
path = r'C:\Users\dmlos\Achievement VI- Olist Business Analysis'

In [5]:
path

'C:\\Users\\dmlos\\Achievement VI- Olist Business Analysis'

In [6]:
#importing order items data from the project folder

df_customers = pd.read_csv(os.path.join(path,'Olist-Original Data (Kaggle)', 'olist_customers_dataset.csv'), index_col = False)

In [7]:
df_customers.shape

(99441, 5)

In [8]:
#importing geolocation data from the project folder

df_geolocation = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\olist_geolocation_dataset.csv', index_col = False)

In [9]:
df_geolocation = pd.read_csv(os.path.join(path,'Olist-Original Data (Kaggle)', 'olist_geolocation_dataset.csv'), index_col = False)

In [10]:
df_geolocation.shape

(1000163, 5)

In [11]:
#importing order items data from the project folder

df_order_items = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\olist_order_items_dataset.csv', index_col = False)

In [12]:
df_order_items = pd.read_csv(os.path.join(path, 'Olist-Original Data (Kaggle)', 'olist_order_items_dataset.csv'), index_col = False)

In [13]:
df_order_items.shape

(112650, 7)

In [234]:
#importing order payments data from the project folder

df_order_payments = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\olist_order_payments_dataset.csv', index_col = False)

In [15]:
df_order_payments = pd.read_csv(os.path.join(path, 'Olist-Original Data (Kaggle)', 'olist_order_payments_dataset.csv'), index_col = False)

In [16]:
df_order_payments.shape

(103886, 5)

In [17]:
#importing order reviews data from the project folder

df_order_reviews = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\olist_order_reviews_dataset.csv', index_col = False)

In [18]:
df_order_reviews = pd.read_csv(os.path.join(path, 'Olist-Original Data (Kaggle)', 'olist_order_reviews_dataset.csv'), index_col = False)

In [19]:
df_order_reviews.shape

(99224, 7)

In [20]:
#importing orders data from the project folder

df_orders = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\olist_orders_dataset.csv', index_col = False)

In [21]:
df_orders = pd.read_csv(os.path.join(path, 'Olist-Original Data (Kaggle)', 'olist_orders_dataset.csv'), index_col = False)

In [22]:
df_orders.shape

(99441, 8)

In [23]:
#importing products data from the project folder

df_products = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\olist_products_dataset.csv', index_col = False)

In [24]:
df_products = pd.read_csv(os.path.join(path,'Olist-Original Data (Kaggle)','olist_products_dataset.csv'), index_col = False)

In [25]:
df_products.shape

(32951, 9)

In [26]:
#importing sellers data from the project folder

df_sellers = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\olist_sellers_dataset.csv', index_col = False)

In [27]:
df_sellers = pd.read_csv(os.path.join(path,'Olist-Original Data (Kaggle)', 'olist_sellers_dataset.csv'), index_col = False)

In [28]:
df_sellers.shape

(3095, 4)

In [29]:
#importing product category name translated from Portuguese to English

df_product_translation = pd.read_csv(r'C:\Users\dmlos\Achievement VI- Olist Business Analysis\Olist-Original Data (Kaggle)\product_category_name_translation.csv', index_col = False)

In [30]:
df_product_translation = pd.read_csv(os.path.join(path,'Olist-Original Data (Kaggle)', 'product_category_name_translation.csv'), index_col = False)

In [31]:
df_product_translation.shape

(71, 2)

In [32]:
#Find missing values

df_customers.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [33]:
df_geolocation.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [34]:
df_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [35]:
df_order_items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [36]:
df_order_payments.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [37]:
df_order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [38]:
df_order_reviews.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [39]:
df_order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [40]:
df_order_reviews.tail(100)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
99124,6ec93e77f444e0b1703740a69122e35d,e1fdc6e9d1ca132377e862593a7c0bd4,5,NaN,Vendedor compromisso do vou o cliente,2017-10-07 00:00:00,2017-10-07 19:47:11
99125,92f7668f880c5774b78a928ec7e9e5a8,666cef1ea6542e749eed5394238041a2,5,NaN,Adorei os pendentes veio do jeitinho q.pensei ...,2017-11-22 00:00:00,2017-11-22 21:22:56
99126,f37aef9f15a081d0790c6e76ad630160,354f62589ab0a15eb57e820d6fcbe9b5,4,NaN,NaN,2017-04-05 00:00:00,2017-04-06 17:51:00
99127,41ab6a6885ad757f124eb3879402dae3,e5cefdab54d9844f44c6d68f3611f145,5,NaN,NaN,2018-05-12 00:00:00,2018-05-12 16:59:28
99128,94756df369bf6a028be944d3d05c8883,e2fbbc5e799749941a23275230ee1d8b,4,NaN,NaN,2018-03-15 00:00:00,2018-03-15 12:53:58
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [41]:
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [42]:
df_orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [43]:
df_products.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [44]:
df_products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [45]:
df_products.tail()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [46]:
df_sellers.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [47]:
df_product_translation.isnull().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [48]:
df_order_reviews.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [49]:
df_order_items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [50]:
df_order_payments.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [51]:
df_order_reviews['review_comment_title'].value_counts(dropna = False)

NaN                          87656
Recomendo                      423
recomendo                      345
Bom                            293
super recomendo                270
                             ...
Luminaria sobrepor led 18        1
Não recebi.                      1
produto com lacre violado        1
Atraso Entrega                   1
Foto enganosa                    1
Name: review_comment_title, Length: 4528, dtype: int64

In [52]:
df_order_reviews['review_comment_message'].value_counts(dropna = False)

NaN                                                                                                                                                                                                    58247
Muito bom                                                                                                                                                                                                230
Bom                                                                                                                                                                                                      189
muito bom                                                                                                                                                                                                122
bom                                                                                                                                                                                                      107
                                                                                                                                                                                                       ...
Devido incompatibilidade vou devolver, ótimo produto!                                                                                                                                                      1
Infelizmente não! A qualidade do produto não agradou.Impressão da foto em exposição remete a um tamanho maior e a recebida sequer atende a uma criança. PRODUTO NÃO JUSTIFICA O VALOR INFELIZMENTE!        1
entrega na data prevista,somente a qualidade do material não é o mesmo que eu pensava mas pelo preço ta valido                                                                                             1
otímo                                                                                                                                                                                                      1
meu produto chegou e ja tenho que devolver, pois está com defeito , não segurar carga                                                                                                                      1
Name: review_comment_message, Length: 36160, dtype: int64

In [53]:
df_orders['order_approved_at'].value_counts(dropna = False)

NaN                    160
2018-02-27 04:31:10      9
2018-02-06 05:31:52      7
2017-11-07 07:30:38      7
2017-12-05 10:30:42      7
                      ...
2018-08-22 11:50:14      1
2017-09-22 11:27:36      1
2018-03-07 16:40:32      1
2017-08-08 10:50:15      1
2018-03-09 11:20:28      1
Name: order_approved_at, Length: 90734, dtype: int64

In [54]:
df_orders['order_delivered_carrier_date'].value_counts(dropna = False)

NaN                    1783
2018-05-09 15:48:00      47
2018-05-10 18:29:00      32
2018-05-07 12:31:00      21
2018-07-24 16:07:00      16
                       ...
2018-01-03 17:37:21       1
2017-10-27 20:07:58       1
2017-11-21 18:57:37       1
2018-03-21 20:03:37       1
2018-03-09 22:11:59       1
Name: order_delivered_carrier_date, Length: 81019, dtype: int64

In [55]:
df_orders['order_delivered_customer_date'].value_counts(dropna = False)

NaN                    2965
2018-07-24 21:36:42       3
2018-05-08 23:38:46       3
2018-05-14 20:02:44       3
2017-12-02 00:26:45       3
                       ...
2018-07-12 17:48:45       1
2018-05-18 18:24:36       1
2018-01-17 13:29:13       1
2018-06-29 11:21:34       1
2018-03-16 13:08:30       1
Name: order_delivered_customer_date, Length: 95665, dtype: int64

In [56]:
df_orders.to_csv(os.path.join(path, 'Cleaned Data (Achievement 6.1)', 'df_orders_cleaned' ))

In [57]:
df_products['product_category_name'].value_counts(dropna = False)

cama_mesa_banho                  3029
esporte_lazer                    2867
moveis_decoracao                 2657
beleza_saude                     2444
utilidades_domesticas            2335
                                 ...
fashion_roupa_infanto_juvenil       5
casa_conforto_2                     5
pc_gamer                            3
seguros_e_servicos                  2
cds_dvds_musicais                   1
Name: product_category_name, Length: 74, dtype: int64

In [235]:
df_products['product_name_lenght'].value_counts(dropna = False)

60.0    2182
59.0    2025
58.0    1887
57.0    1719
55.0    1683
        ...
66.0       1
72.0       1
67.0       1
76.0       1
6.0        1
Name: product_name_lenght, Length: 67, dtype: int64

In [59]:
df_products['product_photos_qty'].value_counts(dropna = False)

1.0     16489
2.0      6263
3.0      3860
4.0      2428
5.0      1484
6.0       968
NaN       610
7.0       343
8.0       192
9.0       105
10.0       95
11.0       46
12.0       35
13.0        9
15.0        8
17.0        7
14.0        5
18.0        2
20.0        1
19.0        1
Name: product_photos_qty, dtype: int64

In [60]:
df_products.to_csv(os.path.join(path, 'Cleaned Data (Achievement 6.1)', 'df_products_cleaned' ))

In [113]:
#Start Merging the Cleaned Dataframes

In [167]:
#Merge geolocation and customers
df_geolocation_customers = df_geolocation.merge(df_customers, on = 'zip_code_prefix', indicator = True)

In [173]:
df_geolocation_customers['_merge'].value_counts()

both          15083455
left_only            0
right_only           0
Name: _merge, dtype: int64

In [172]:
df_geolocation_customers.head()

,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,customer_id,customer_unique_id,customer_city,customer_state,_merge
0,1037,-23.545621,-46.639292,sao paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both
1,1037,-23.545621,-46.639292,sao paulo,SP,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,sao paulo,SP,both
2,1037,-23.545621,-46.639292,sao paulo,SP,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,sao paulo,SP,both
3,1037,-23.545187,-46.637855,são paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both
4,1037,-23.545187,-46.637855,são paulo,SP,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,sao paulo,SP,both

In [168]:
df_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   zip_code_prefix    1000163 non-null  int64
 1   geolocation_lat    1000163 non-null  float64
 2   geolocation_lng    1000163 non-null  float64
 3   geolocation_city   1000163 non-null  object
 4   geolocation_state  1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [169]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         99441 non-null  object
 1   customer_unique_id  99441 non-null  object
 2   zip_code_prefix     99441 non-null  int64
 3   customer_city       99441 non-null  object
 4   customer_state      99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [170]:
df_geolocation_customers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15083455 entries, 0 to 15083454
Data columns (total 10 columns):
 #   Column              Dtype
---  ------              -----
 0   zip_code_prefix     int64
 1   geolocation_lat     float64
 2   geolocation_lng     float64
 3   geolocation_city    object
 4   geolocation_state   object
 5   customer_id         object
 6   customer_unique_id  object
 7   customer_city       object
 8   customer_state      object
 9   _merge              category
dtypes: category(1), float64(2), int64(1), object(6)
memory usage: 1.1+ GB

In [171]:
df_geolocation_customers.shape

(15083455, 10)

In [174]:
#Merge geolocation and sellers
df_geolocation_sellers = df_geolocation.merge(df_sellers, on = 'zip_code_prefix', indicator = True)

In [175]:
df_geolocation_sellers['_merge'].value_counts()

both          435087
left_only          0
right_only         0
Name: _merge, dtype: int64

In [176]:
#Merge order payments and orders
df_order_payments_orders = df_order_payments.merge(df_orders, on = 'order_id', indicator = True)

In [177]:
df_order_payments_orders['_merge'].value_counts()

both          103886
left_only          0
right_only         0
Name: _merge, dtype: int64

In [236]:
#Merge order products and order items
df_products_order_items = df_products.merge(df_order_items, on = 'product_id', indicator = True)

In [181]:
df_products_order_items['_merge'].value_counts()

both          112650
left_only          0
right_only         0
Name: _merge, dtype: int64

In [91]:
#Drop unnecessary columns in geolocation_customers

df_geolocation_customers.head()

,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,customer_id,customer_unique_id,customer_city,customer_state
0,1037,-23.545621,-46.639292,sao paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP
1,1037,-23.545621,-46.639292,sao paulo,SP,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,sao paulo,SP
2,1037,-23.545621,-46.639292,sao paulo,SP,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,sao paulo,SP
3,1037,-23.545187,-46.637855,são paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP
4,1037,-23.545187,-46.637855,são paulo,SP,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,sao paulo,SP

In [92]:
df_geolocation_customers_clean = df_geolocation_customers.drop(columns = ['geolocation_city', 'geolocation_state'])

In [93]:
df_geolocation_customers_clean.head(5)

,zip_code_prefix,geolocation_lat,geolocation_lng,customer_id,customer_unique_id,customer_city,customer_state
0,1037,-23.545621,-46.639292,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP
1,1037,-23.545621,-46.639292,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,sao paulo,SP
2,1037,-23.545621,-46.639292,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,sao paulo,SP
3,1037,-23.545187,-46.637855,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP
4,1037,-23.545187,-46.637855,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,sao paulo,SP

In [135]:
df_geolocation_customers_clean.rename(columns = {'geolocation_lat': 'customer_lat','geolocation_lng':'customer_lng', 'zip_code_prefix':'customer_zip_code'}, inplace = True)

In [137]:
df_geolocation_customers_clean.head(5)

,customer_zip_code,customer_lat,customer_lng,customer_id,customer_unique_id,customer_city,customer_state
0,1037,-23.545621,-46.639292,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP
1,1037,-23.545621,-46.639292,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,sao paulo,SP
2,1037,-23.545621,-46.639292,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,sao paulo,SP
3,1037,-23.545187,-46.637855,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP
4,1037,-23.545187,-46.637855,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,sao paulo,SP

In [120]:
#Drop unnecessary columns in geolocation_sellers
df_geolocation_sellers_clean = df_geolocation_sellers.drop(columns = ['geolocation_city', 'geolocation_state'])

In [121]:
df_geolocation_sellers_clean.head(5)

,zip_code_prefix,geolocation_lat,geolocation_lng,seller_id,seller_city,seller_state
0,1041,-23.544392,-46.639499,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
1,1041,-23.543539,-46.640577,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
2,1041,-23.543713,-46.640263,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
3,1041,-23.543713,-46.640263,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
4,1041,-23.543539,-46.640577,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP

In [143]:
#Rename columns in geolocation_sellers
df_geolocation_sellers_clean.rename(columns = {'geolocation_lat': 'seller_lat','geolocation_lat':'seller_lng', 'zip_code_prefix':'seller_zip_code'}, inplace = True)

In [237]:
#Drop unnecessary columns in order_payments_orders
df_order_payments_orders.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,_merge
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33,0a8556ac6be836b46b3e89920d59291c,delivered,2018-04-25 22:01:49,2018-04-25 22:15:09,2018-05-02 15:20:00,2018-05-09 17:36:51,2018-05-22 00:00:00,both
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39,f2c7fc58a9de810828715166c672f10a,delivered,2018-06-26 11:01:38,2018-06-26 11:18:58,2018-06-28 14:18:00,2018-06-29 20:32:09,2018-07-16 00:00:00,both
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71,25b14b69de0b6e184ae6fe2755e478f9,delivered,2017-12-12 11:19:55,2017-12-14 09:52:34,2017-12-15 20:13:22,2017-12-18 17:24:41,2018-01-04 00:00:00,both
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78,7a5d8efaaa1081f800628c30d2b0728f,delivered,2017-12-06 12:04:06,2017-12-06 12:13:20,2017-12-07 20:28:28,2017-12-21 01:35:51,2018-01-04 00:00:00,both
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45,15fd6fb8f8312dbb4674e4518d6fa3b3,delivered,2018-05-21 13:59:17,2018-05-21 16:14:41,2018-05-22 11:46:00,2018-06-01 21:44:53,2018-06-13 00:00:00,both

In [124]:
df_order_payments_orders_clean = df_order_payments_orders.drop(columns = ['payment_sequential', 'payment_installments', 'payment_value', 'order_status'])

In [125]:
df_order_payments_orders_clean.head(5)

,order_id,payment_type,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,b81ef226f3fe1789b1e8b2acac839d17,credit_card,0a8556ac6be836b46b3e89920d59291c,2018-04-25 22:01:49,2018-04-25 22:15:09,2018-05-02 15:20:00,2018-05-09 17:36:51,2018-05-22 00:00:00
1,a9810da82917af2d9aefd1278f1dcfa0,credit_card,f2c7fc58a9de810828715166c672f10a,2018-06-26 11:01:38,2018-06-26 11:18:58,2018-06-28 14:18:00,2018-06-29 20:32:09,2018-07-16 00:00:00
2,25e8ea4e93396b6fa0d3dd708e76c1bd,credit_card,25b14b69de0b6e184ae6fe2755e478f9,2017-12-12 11:19:55,2017-12-14 09:52:34,2017-12-15 20:13:22,2017-12-18 17:24:41,2018-01-04 00:00:00
3,ba78997921bbcdc1373bb41e913ab953,credit_card,7a5d8efaaa1081f800628c30d2b0728f,2017-12-06 12:04:06,2017-12-06 12:13:20,2017-12-07 20:28:28,2017-12-21 01:35:51,2018-01-04 00:00:00
4,42fdf880ba16b47b59251dd489d4441a,credit_card,15fd6fb8f8312dbb4674e4518d6fa3b3,2018-05-21 13:59:17,2018-05-21 16:14:41,2018-05-22 11:46:00,2018-06-01 21:44:53,2018-06-13 00:00:00

In [126]:
#Drop unnecessary columns in products_order_items
df_products_order_items.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,order_id,order_item_id,seller_id,shipping_limit_date,price,freight_value
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,e17e4f88e31525f7deef66779844ddce,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-04-30 17:33:54,10.91,7.39
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,5236307716393b7114b53ee991f36956,1,b561927807645834b59ef0d16ba55a24,2018-02-06 19:11:15,248.00,17.99
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,01f66e58769f84129811d43eefd187fb,1,7b07b3c7487f0ea825fc6df75abd658b,2018-07-11 21:30:20,79.80,7.82
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,143d00a4f2dde4e0364ee1821577adb3,1,c510bc1718f0f2961eaa42a23330681a,2018-08-07 09:10:13,112.30,9.54
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,86cafb8794cb99a9b1b77fc8e48fbbbb,1,0be8ff43f22e456b4e0371b2245e4d01,2018-04-17 01:30:23,37.90,8.29

In [128]:
df_products_order_items_clean = df_products_order_items.drop(columns = ['product_id', 'product_length_cm', 'product_height_cm', 'product_width_cm', 'product_photos_qty', 'product_description_lenght', 'product_name_lenght', 'product_category_name'])

In [129]:
df_products_order_items_clean.head(5)

,product_weight_g,order_id,order_item_id,seller_id,shipping_limit_date,price,freight_value
0,225.0,e17e4f88e31525f7deef66779844ddce,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-04-30 17:33:54,10.91,7.39
1,1000.0,5236307716393b7114b53ee991f36956,1,b561927807645834b59ef0d16ba55a24,2018-02-06 19:11:15,248.00,17.99
2,154.0,01f66e58769f84129811d43eefd187fb,1,7b07b3c7487f0ea825fc6df75abd658b,2018-07-11 21:30:20,79.80,7.82
3,371.0,143d00a4f2dde4e0364ee1821577adb3,1,c510bc1718f0f2961eaa42a23330681a,2018-08-07 09:10:13,112.30,9.54
4,625.0,86cafb8794cb99a9b1b77fc8e48fbbbb,1,0be8ff43f22e456b4e0371b2245e4d01,2018-04-17 01:30:23,37.90,8.29

# Change Data Types to Conserve Memory

In [238]:
#Change Data Types to Conserve Space
df_geolocation_customers_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15083455 entries, 0 to 15083454
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   customer_zip_code   int32
 1   customer_lat        float32
 2   customer_lng        float32
 3   customer_id         object
 4   customer_unique_id  object
 5   customer_city       object
 6   customer_state      object
dtypes: float32(2), int32(1), object(4)
memory usage: 748.0+ MB

In [144]:
df_geolocation_customers_clean['customer_zip_code']=df_geolocation_customers_clean['customer_zip_code'].astype('int32')
df_geolocation_customers_clean['customer_lat']=df_geolocation_customers_clean['customer_lat'].astype('float32')
df_geolocation_customers_clean['customer_lng']=df_geolocation_customers_clean['customer_lng'].astype('float32')

In [131]:
#Change Data Types to Conserve Space
df_geolocation_sellers_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435087 entries, 0 to 435086
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   zip_code_prefix  435087 non-null  int64
 1   geolocation_lat  435087 non-null  float64
 2   geolocation_lng  435087 non-null  float64
 3   seller_id        435087 non-null  object
 4   seller_city      435087 non-null  object
 5   seller_state     435087 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 23.2+ MB

In [239]:
df_geolocation_sellers_clean['seller_zip_code']=df_geolocation_sellers_clean['seller_zip_code'].astype('int32')
df_geolocation_sellers_clean['seller_lat']=df_geolocation_sellers_clean['seller_lat'].astype('float32')

In [132]:
#Change Data Types to Conserve Space
df_order_payments_orders_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103886 entries, 0 to 103885
Data columns (total 8 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       103886 non-null  object
 1   payment_type                   103886 non-null  object
 2   customer_id                    103886 non-null  object
 3   order_purchase_timestamp       103886 non-null  object
 4   order_approved_at              103711 non-null  object
 5   order_delivered_carrier_date   101998 non-null  object
 6   order_delivered_customer_date  100754 non-null  object
 7   order_estimated_delivery_date  103886 non-null  object
dtypes: object(8)
memory usage: 7.1+ MB

In [133]:
#Change Data Types to Conserve Space
df_products_order_items_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   product_weight_g     112632 non-null  float64
 1   order_id             112650 non-null  object
 2   order_item_id        112650 non-null  int64
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 6.9+ MB

In [151]:
df_products_order_items_clean['product_weight_g']=df_products_order_items_clean['product_weight_g'].astype('float32')
df_products_order_items_clean['price']=df_products_order_items_clean['price'].astype('float32')
df_products_order_items_clean['freight_value']=df_products_order_items_clean['freight_value'].astype('float32')

In [153]:
df_products_order_items_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   product_weight_g     112632 non-null  float32
 1   order_id             112650 non-null  object
 2   order_item_id        112650 non-null  int64
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float32
 6   freight_value        112650 non-null  float32
dtypes: float32(3), int64(1), object(3)
memory usage: 5.6+ MB

# Begin Merging our Created Datasets

In [240]:
#Merge the df_products_order_items_clean dataset with the order_payment_orders dataset
df_products_order_items_payments_orders = df_products_order_items_clean.merge(df_order_payments_orders_clean, on = 'order_id')

In [241]:
df_products_order_items_payments_orders

,product_weight_g,order_id,order_item_id,seller_id,shipping_limit_date,price,freight_value,payment_type,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,225.0,e17e4f88e31525f7deef66779844ddce,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-04-30 17:33:54,10.910000,7.390000,debit_card,f8a3e963a310aa58b60a5b1fed5bceb5,2018-04-24 16:16:53,2018-04-24 19:04:19,2018-04-25 17:01:00,2018-04-27 16:42:17,2018-05-09 00:00:00
1,1000.0,5236307716393b7114b53ee991f36956,1,b561927807645834b59ef0d16ba55a24,2018-02-06 19:11:15,248.000000,17.990000,voucher,03fc97548af8f58fefc768d12b546c9c,2018-01-31 18:55:36,2018-01-31 19:11:15,2018-02-05 22:44:47,2018-02-16 13:27:08,2018-02-22 00:00:00
2,154.0,01f66e58769f84129811d43eefd187fb,1,7b07b3c7487f0ea825fc6df75abd658b,2018-07-11 21:30:20,79.800003,7.820000,credit_card,e41819d1c95c12c9ce495b630eab8aee,2018-07-09 21:18:01,2018-07-09 21:30:20,2018-07-10 11:49:00,2018-07-11 23:24:16,2018-07-18 00:00:00
3,371.0,143d00a4f2dde4e0364ee1821577adb3,1,c510bc1718f0f2961eaa42a23330681a,2018-08-07 09:10:13,112.300003,9.540000,credit_card,322162b5ca010c2b059cb5224dd818b1,2018-08-03 08:55:50,2018-08-03 09:31:42,2018-08-03 11:48:00,2018-08-06 15:14:32,2018-08-08 00:00:00
4,625.0,86cafb8794cb99a9b1b77fc8e48fbbbb,1,0be8ff43f22e456b4e0371b2245e4d01,2018-04-17 01:30:23,37.900002,8.290000,credit_card,c11c31965ff02cc1d7132df8edfcbc22,2018-04-11 01:06:37,2018-04-11 01:30:23,2018-04-12 22:56:27,2018-04-13 22:41:44,2018-04-26 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117596,700.0,59e88b7d3675e89aceaf86f372d3bc9a,2,4324dd16853115efb0fd9d0d131ba6f4,2018-01-10 03:32:09,29.900000,16.110001,boleto,e750210dde7e68dbd5194c0809e97f7e,2018-01-03 15:05:53,2018-01-04 05:14:57,2018-01-04 15:57:18,2018-01-15 20:39:35,2018-02-02 00:00:00
117597,700.0,6e4465d771f02e4fe335225de3c6c043,1,4324dd16853115efb0fd9d0d131ba6f4,2018-03-14 02:30:48,29.900000,23.280001,boleto,0f139d1b208a62a37671423e5eff5016,2018-03-06 11:51:44,2018-03-08 02:49:35,2018-03-08 23:16:19,2018-03-23 20:08:40,2018-04-05 00:00:00
117598,700.0,6e4465d771f02e4fe335225de3c6c043,2,4324dd16853115efb0fd9d0d131ba6f4,2018-03-14 02:30:48,29.900000,23.280001,boleto,0f139d1b208a62a37671423e5eff5016,2018-03-06 11:51:44,2018-03-08 02:49:35,2018-03-08 23:16:19,2018-03-23 20:08:40,2018-04-05 00:00:00
117599,700.0,6e4465d771f02e4fe335225de3c6c043,3,4324dd16853115efb0fd9d0d131ba6f4,2018-03-14 02:30:48,29.900000,23.280001,boleto,0f139d1b208a62a37671423e5eff5016,2018-03-06 11:51:44,2018-03-08 02:49:35,2018-03-08 23:16:19,2018-03-23 20:08:40,2018-04-05 00:00:00
117600,2083.0,f3a47ba087f05d39a74ed1b653f0be1b,1,4a3ca9315b744ce9f8e9374361493884,2018-07-02 08:30:34,107.500000,27.049999,credit_card,b7fbfcea57659b5d18c20c95db45e908,2018-06-28 08:15:31,2018-06-28 08:30:34,2018-06-28 14:31:00,2018-07-03 20:46:26,2018-07-20 00:00:00

In [244]:
#Merge the geolocation_customers_order_payments_orders_clean with products_order_items
df_geolocation_customers_products_order_items_payments_orders = df_geolocation_customers.merge(df_products_order_items_payments_orders, on = 'customer_id')

In [245]:
df_geolocation_customers_products_order_items_payments_orders

,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,customer_id,customer_unique_id,customer_city,customer_state,_merge,...,seller_id,shipping_limit_date,price,freight_value,payment_type,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,1037,-23.545621,-46.639292,sao paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both,...,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 03:09:46,25.000000,8.34,boleto,2018-08-17 10:59:04,2018-08-18 03:09:46,2018-08-20 13:43:00,2018-08-21 17:51:40,2018-08-22 00:00:00
1,1037,-23.545187,-46.637855,são paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both,...,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 03:09:46,25.000000,8.34,boleto,2018-08-17 10:59:04,2018-08-18 03:09:46,2018-08-20 13:43:00,2018-08-21 17:51:40,2018-08-22 00:00:00
2,1037,-23.546705,-46.640336,são paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both,...,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 03:09:46,25.000000,8.34,boleto,2018-08-17 10:59:04,2018-08-18 03:09:46,2018-08-20 13:43:00,2018-08-21 17:51:40,2018-08-22 00:00:00
3,1037,-23.543883,-46.638075,são paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both,...,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 03:09:46,25.000000,8.34,boleto,2018-08-17 10:59:04,2018-08-18 03:09:46,2018-08-20 13:43:00,2018-08-21 17:51:40,2018-08-22 00:00:00
4,1037,-23.546157,-46.639885,sao paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both,...,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 03:09:46,25.000000,8.34,boleto,2018-08-17 10:59:04,2018-08-18 03:09:46,2018-08-20 13:43:00,2018-08-21 17:51:40,2018-08-22 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17954157,99920,-27.854276,-52.303888,erebango,RS,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,erebango,RS,both,...,7a67c85e85bb2ce8582c35f2203ad736,2017-04-03 03:45:10,119.989998,19.43,boleto,2017-03-27 10:02:36,2017-03-28 03:45:10,2017-03-28 18:39:47,2017-04-12 15:14:31,2017-04-20 00:00:00
17954158,99920,-27.855364,-52.300600,erebango,RS,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,erebango,RS,both,...,7a67c85e85bb2ce8582c35f2203ad736,2017-04-03 03:45:10,119.989998,19.43,boleto,2017-03-27 10:02:36,2017-03-28 03:45:10,2017-03-28 18:39:47,2017-04-12 15:14:31,2017-04-20 00:00:00
17954159,99920,-27.855855,-52.300139,erebango,RS,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,erebango,RS,both,...,7a67c85e85bb2ce8582c35f2203ad736,2017-04-03 03:45:10,119.989998,19.43,boleto,2017-03-27 10:02:36,2017-03-28 03:45:10,2017-03-28 18:39:47,2017-04-12 15:14:31,2017-04-20 00:00:00
17954160,99920,-27.854000,-52.298330,erebango,RS,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,erebango,RS,both,...,7a67c85e85bb2ce8582c35f2203ad736,2017-04-03 03:45:10,119.989998,19.43,boleto,2017-03-27 10:02:36,2017-03-28 03:45:10,2017-03-28 18:39:47,2017-04-12 15:14:31,2017-04-20 00:00:00
17954161,99920,-27.854602,-52.304946,erebango,RS,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,erebango,RS,both,...,7a67c85e85bb2ce8582c35f2203ad736,2017-04-03 03:45:10,119.989998,19.43,boleto,2017-03-27 10:02:36,2017-03-28 03:45:10,2017-03-28 18:39:47,2017-04-12 15:14:31,2017-04-20 00:00:00

In [246]:
#Rename columns to be better labeled
df_geolocation_customers_products_order_items_payments_orders.rename(columns = {'geolocation_lat': 'customer_lat', 'geolocation_lng':'customer_lng'}, inplace = True)

In [247]:
df_geolocation_customers_products_order_items_payments_orders

,zip_code_prefix,customer_lat,customer_lng,geolocation_city,geolocation_state,customer_id,customer_unique_id,customer_city,customer_state,_merge,...,seller_id,shipping_limit_date,price,freight_value,payment_type,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,1037,-23.545621,-46.639292,sao paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both,...,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 03:09:46,25.000000,8.34,boleto,2018-08-17 10:59:04,2018-08-18 03:09:46,2018-08-20 13:43:00,2018-08-21 17:51:40,2018-08-22 00:00:00
1,1037,-23.545187,-46.637855,são paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both,...,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 03:09:46,25.000000,8.34,boleto,2018-08-17 10:59:04,2018-08-18 03:09:46,2018-08-20 13:43:00,2018-08-21 17:51:40,2018-08-22 00:00:00
2,1037,-23.546705,-46.640336,são paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both,...,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 03:09:46,25.000000,8.34,boleto,2018-08-17 10:59:04,2018-08-18 03:09:46,2018-08-20 13:43:00,2018-08-21 17:51:40,2018-08-22 00:00:00
3,1037,-23.543883,-46.638075,são paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both,...,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 03:09:46,25.000000,8.34,boleto,2018-08-17 10:59:04,2018-08-18 03:09:46,2018-08-20 13:43:00,2018-08-21 17:51:40,2018-08-22 00:00:00
4,1037,-23.546157,-46.639885,sao paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both,...,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 03:09:46,25.000000,8.34,boleto,2018-08-17 10:59:04,2018-08-18 03:09:46,2018-08-20 13:43:00,2018-08-21 17:51:40,2018-08-22 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17954157,99920,-27.854276,-52.303888,erebango,RS,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,erebango,RS,both,...,7a67c85e85bb2ce8582c35f2203ad736,2017-04-03 03:45:10,119.989998,19.43,boleto,2017-03-27 10:02:36,2017-03-28 03:45:10,2017-03-28 18:39:47,2017-04-12 15:14:31,2017-04-20 00:00:00
17954158,99920,-27.855364,-52.300600,erebango,RS,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,erebango,RS,both,...,7a67c85e85bb2ce8582c35f2203ad736,2017-04-03 03:45:10,119.989998,19.43,boleto,2017-03-27 10:02:36,2017-03-28 03:45:10,2017-03-28 18:39:47,2017-04-12 15:14:31,2017-04-20 00:00:00
17954159,99920,-27.855855,-52.300139,erebango,RS,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,erebango,RS,both,...,7a67c85e85bb2ce8582c35f2203ad736,2017-04-03 03:45:10,119.989998,19.43,boleto,2017-03-27 10:02:36,2017-03-28 03:45:10,2017-03-28 18:39:47,2017-04-12 15:14:31,2017-04-20 00:00:00
17954160,99920,-27.854000,-52.298330,erebango,RS,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,erebango,RS,both,...,7a67c85e85bb2ce8582c35f2203ad736,2017-04-03 03:45:10,119.989998,19.43,boleto,2017-03-27 10:02:36,2017-03-28 03:45:10,2017-03-28 18:39:47,2017-04-12 15:14:31,2017-04-20 00:00:00
17954161,99920,-27.854602,-52.304946,erebango,RS,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,erebango,RS,both,...,7a67c85e85bb2ce8582c35f2203ad736,2017-04-03 03:45:10,119.989998,19.43,boleto,2017-03-27 10:02:36,2017-03-28 03:45:10,2017-03-28 18:39:47,2017-04-12 15:14:31,2017-04-20 00:00:00

In [248]:
#Convert the delivered, order purchase, order approved, estimated delivery, and order delivered to carrier dates to datetime format
df_geolocation_customers_products_order_items_payments_orders['order_purchase_timestamp'] = df_geolocation_customers_products_order_items_payments_orders['order_purchase_timestamp'].astype('datetime64[ns]')
df_geolocation_customers_products_order_items_payments_orders['order_delivered_customer_date'] = df_geolocation_customers_products_order_items_payments_orders['order_delivered_customer_date'].astype('datetime64[ns]')
df_geolocation_customers_products_order_items_payments_orders['order_estimated_delivery_date'] = df_geolocation_customers_products_order_items_payments_orders['order_estimated_delivery_date'].astype('datetime64[ns]')
df_geolocation_customers_products_order_items_payments_orders['order_delivered_carrier_date'] = df_geolocation_customers_products_order_items_payments_orders['order_delivered_carrier_date'].astype('datetime64[ns]')
df_geolocation_customers_products_order_items_payments_orders['order_approved_at'] = df_geolocation_customers_products_order_items_payments_orders['order_approved_at'].astype('datetime64[ns]')
df_geolocation_customers_products_order_items_payments_orders['zip_code_prefix'] = df_geolocation_customers_products_order_items_payments_orders['zip_code_prefix'].astype('int32')

In [249]:
df_geolocation_customers_products_order_items_payments_orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17954162 entries, 0 to 17954161
Data columns (total 23 columns):
 #   Column                         Dtype
---  ------                         -----
 0   zip_code_prefix                int32
 1   customer_lat                   float64
 2   customer_lng                   float64
 3   geolocation_city               object
 4   geolocation_state              object
 5   customer_id                    object
 6   customer_unique_id             object
 7   customer_city                  object
 8   customer_state                 object
 9   _merge                         category
 10  product_weight_g               float32
 11  order_id                       object
 12  order_item_id                  int64
 13  seller_id                      object
 14  shipping_limit_date            object
 15  price                          float32
 16  freight_value                  float32
 17  payment_type                   object
 18  order_purchase_timestamp       datetime64[ns]
 19  order_approved_at              datetime64[ns]
 20  order_delivered_carrier_date   datetime64[ns]
 21  order_delivered_customer_date  datetime64[ns]
 22  order_estimated_delivery_date  datetime64[ns]
dtypes: category(1), datetime64[ns](5), float32(3), float64(2), int32(1), int64(1), object(10)
memory usage: 2.8+ GB

In [251]:
#Calculate the time difference between actual delivery date and order purchase date
df_geolocation_customers_products_order_items_payments_orders ['Delivery-Purchase_Time_Difference'] = df_geolocation_customers_products_order_items_payments_orders['order_delivered_customer_date'] - df_geolocation_customers_products_order_items_payments_orders['order_purchase_timestamp']

#Calculate the time difference between estimated delivery date and order purchase date
df_geolocation_customers_products_order_items_payments_orders ['Estimated-Purchase_Time_Difference'] = df_geolocation_customers_products_order_items_payments_orders['order_estimated_delivery_date'] - df_geolocation_customers_products_order_items_payments_orders['order_purchase_timestamp']

#Calculate the time difference between order approval date and order purchase date
df_geolocation_customers_products_order_items_payments_orders ['Approval-Purchase_Time_Difference'] = df_geolocation_customers_products_order_items_payments_orders['order_approved_at'] - df_geolocation_customers_products_order_items_payments_orders['order_purchase_timestamp']

#Calculate the time difference between delivery to the carrier and order purchase date
df_geolocation_customers_products_order_items_payments_orders ['Carrier_Delivered-Order_Time_Difference'] = df_geolocation_customers_products_order_items_payments_orders['order_delivered_carrier_date'] - df_geolocation_customers_products_order_items_payments_orders['order_purchase_timestamp']

In [252]:
#Convert the calculated time differences into minute amounts in the integer or float format
df_geolocation_customers_products_order_items_payments_orders ['Delivery-Purchase_Time_Difference_Min'] = df_geolocation_customers_products_order_items_payments_orders ['Delivery-Purchase_Time_Difference']/pd.Timedelta(minutes=1)
df_geolocation_customers_products_order_items_payments_orders ['Estimated-Purchase_Time_Difference_Min'] = df_geolocation_customers_products_order_items_payments_orders ['Estimated-Purchase_Time_Difference']/pd.Timedelta(minutes=1)
df_geolocation_customers_products_order_items_payments_orders ['Approval-Purchase_Time_Difference_Min'] = df_geolocation_customers_products_order_items_payments_orders ['Approval-Purchase_Time_Difference']/pd.Timedelta(minutes=1)
df_geolocation_customers_products_order_items_payments_orders ['Carrier_Delivered-Order_Time_Difference_Min'] = df_geolocation_customers_products_order_items_payments_orders ['Carrier_Delivered-Order_Time_Difference']/pd.Timedelta(minutes=1)

In [253]:
df_geolocation_customers_products_order_items_payments_orders.head(5)

,zip_code_prefix,customer_lat,customer_lng,geolocation_city,geolocation_state,customer_id,customer_unique_id,customer_city,customer_state,_merge,...,order_delivered_customer_date,order_estimated_delivery_date,Delivery-Purchase_Time_Difference,Estimated-Purchase_Time_Difference,Approval-Purchase_Time_Difference,Carrier_Delivered-Order_Time_Difference,Delivery-Purchase_Time_Difference_Min,Estimated-Purchase_Time_Difference_Min,Approval-Purchase_Time_Difference_Min,Carrier_Delivered-Order_Time_Difference_Min
0,1037,-23.545621,-46.639292,sao paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both,...,2018-08-21 17:51:40,2018-08-22,4 days 06:52:36,4 days 13:00:56,0 days 16:10:42,3 days 02:43:56,6172.6,6540.933333,970.7,4483.933333
1,1037,-23.545187,-46.637855,são paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both,...,2018-08-21 17:51:40,2018-08-22,4 days 06:52:36,4 days 13:00:56,0 days 16:10:42,3 days 02:43:56,6172.6,6540.933333,970.7,4483.933333
2,1037,-23.546705,-46.640336,são paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both,...,2018-08-21 17:51:40,2018-08-22,4 days 06:52:36,4 days 13:00:56,0 days 16:10:42,3 days 02:43:56,6172.6,6540.933333,970.7,4483.933333
3,1037,-23.543883,-46.638075,são paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both,...,2018-08-21 17:51:40,2018-08-22,4 days 06:52:36,4 days 13:00:56,0 days 16:10:42,3 days 02:43:56,6172.6,6540.933333,970.7,4483.933333
4,1037,-23.546157,-46.639885,sao paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,both,...,2018-08-21 17:51:40,2018-08-22,4 days 06:52:36,4 days 13:00:56,0 days 16:10:42,3 days 02:43:56,6172.6,6540.933333,970.7,4483.933333

In [254]:
df_geolocation_customers_products_order_items_payments_orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17954162 entries, 0 to 17954161
Data columns (total 31 columns):
 #   Column                                       Dtype
---  ------                                       -----
 0   zip_code_prefix                              int32
 1   customer_lat                                 float64
 2   customer_lng                                 float64
 3   geolocation_city                             object
 4   geolocation_state                            object
 5   customer_id                                  object
 6   customer_unique_id                           object
 7   customer_city                                object
 8   customer_state                               object
 9   _merge                                       category
 10  product_weight_g                             float32
 11  order_id                                     object
 12  order_item_id                                int64
 13  seller_id                                    object
 14  shipping_limit_date                          object
 15  price                                        float32
 16  freight_value                                float32
 17  payment_type                                 object
 18  order_purchase_timestamp                     datetime64[ns]
 19  order_approved_at                            datetime64[ns]
 20  order_delivered_carrier_date                 datetime64[ns]
 21  order_delivered_customer_date                datetime64[ns]
 22  order_estimated_delivery_date                datetime64[ns]
 23  Delivery-Purchase_Time_Difference            timedelta64[ns]
 24  Estimated-Purchase_Time_Difference           timedelta64[ns]
 25  Approval-Purchase_Time_Difference            timedelta64[ns]
 26  Carrier_Delivered-Order_Time_Difference      timedelta64[ns]
 27  Delivery-Purchase_Time_Difference_Min        float64
 28  Estimated-Purchase_Time_Difference_Min       float64
 29  Approval-Purchase_Time_Difference_Min        float64
 30  Carrier_Delivered-Order_Time_Difference_Min  float64
dtypes: category(1), datetime64[ns](5), float32(3), float64(6), int32(1), int64(1), object(10), timedelta64[ns](4)
memory usage: 3.9+ GB

In [255]:
#Drop unnecessary columns
df_geolocation_customers_products_order_items_payments_orders_clean = df_geolocation_customers_products_order_items_payments_orders.drop(columns = ['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date', 'geolocation_city', 'geolocation_state', '_merge', 'order_item_id', 'Carrier_Delivered-Order_Time_Difference', 'Approval-Purchase_Time_Difference', 'Estimated-Purchase_Time_Difference', 'Delivery-Purchase_Time_Difference', 'order_estimated_delivery_date', 'order_delivered_customer_date', 'order_delivered_carrier_date', 'order_approved_at', 'order_purchase_timestamp', 'customer_id'])

In [256]:
df_geolocation_customers_products_order_items_payments_orders_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17954162 entries, 0 to 17954161
Data columns (total 17 columns):
 #   Column                                       Dtype
---  ------                                       -----
 0   zip_code_prefix                              int32
 1   customer_lat                                 float64
 2   customer_lng                                 float64
 3   customer_unique_id                           object
 4   customer_city                                object
 5   customer_state                               object
 6   product_weight_g                             float32
 7   order_id                                     object
 8   seller_id                                    object
 9   shipping_limit_date                          object
 10  price                                        float32
 11  freight_value                                float32
 12  payment_type                                 object
 13  Delivery-Purchase_Time_Difference_Min        float64
 14  Estimated-Purchase_Time_Difference_Min       float64
 15  Approval-Purchase_Time_Difference_Min        float64
 16  Carrier_Delivered-Order_Time_Difference_Min  float64
dtypes: float32(3), float64(6), int32(1), object(7)
memory usage: 2.1+ GB

In [266]:
#Rename columns to be more descriptive
df_geolocation_customers_products_order_items_payments_orders_clean.rename(columns = {'zip_code_prefix': 'Customer_Zip'}, inplace = True)

In [267]:
df_geolocation_customers_products_order_items_payments_orders_clean.head()

,Seller_Zip,customer_lat,customer_lng,customer_unique_id,customer_city,customer_state,product_weight_g,order_id,seller_id,shipping_limit_date,price,freight_value,payment_type,Delivery-Purchase_Time_Difference_Min,Estimated-Purchase_Time_Difference_Min,Approval-Purchase_Time_Difference_Min,Carrier_Delivered-Order_Time_Difference_Min
0,1037,-23.545621,-46.639292,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,400.0,e260cc3baa8f4aae3fab201ef60e1127,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 03:09:46,25.0,8.34,boleto,6172.6,6540.933333,970.7,4483.933333
1,1037,-23.545187,-46.637855,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,400.0,e260cc3baa8f4aae3fab201ef60e1127,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 03:09:46,25.0,8.34,boleto,6172.6,6540.933333,970.7,4483.933333
2,1037,-23.546705,-46.640336,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,400.0,e260cc3baa8f4aae3fab201ef60e1127,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 03:09:46,25.0,8.34,boleto,6172.6,6540.933333,970.7,4483.933333
3,1037,-23.543883,-46.638075,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,400.0,e260cc3baa8f4aae3fab201ef60e1127,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 03:09:46,25.0,8.34,boleto,6172.6,6540.933333,970.7,4483.933333
4,1037,-23.546157,-46.639885,3ef8c1513fc80fb905ccd8d57da5e9b8,sao paulo,SP,400.0,e260cc3baa8f4aae3fab201ef60e1127,2953ce3a88f5e3c3b696d77fc9e4c8eb,2018-08-21 03:09:46,25.0,8.34,boleto,6172.6,6540.933333,970.7,4483.933333

In [263]:
#Export the new dataset
df_geolocation_sellers_products_order_items_payments_orders_clean.to_csv(os.path.join(path, 'Olist-Original Data (Kaggle)','df_geolocation_customers_products_order_items_payments_orders_clean.csv'))

In [1]:
df_geolocation_customers_products_order_items_payments_orders_clean.corr()

NameError: name 'df_geolocation_customers_products_order_items_payments_orders_clean' is not defined

# Ignore the code below

In [184]:
#Drop unnecessary columns

df_geolocation_customers_order_payments_orders_order_items_clean = df_geolocation_customers_order_payments_orders_order_items.drop(columns = ['order_item_id'])

In [185]:
df_geolocation_customers_order_payments_orders_order_items_sellers = df_geolocation_sellers.merge(df_geolocation_customers_order_payments_orders_order_items_clean, on = 'seller_id')

MemoryError: Unable to allocate 19.6 GiB for an array with shape (2628887940,) and data type int64

In [79]:
df_sellers_geolocation_merged.head()

,seller_id,zip_code_prefix,seller_city,seller_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,-22.898536,-47.063125,campinas,SP
1,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,-22.895499,-47.061944,campinas,SP
2,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,-22.891740,-47.060820,campinas,SP
3,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,-22.895762,-47.066144,campinas,SP
4,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,-22.896154,-47.062431,campinas,SP

In [67]:
df_geolocation_sellers_merged

,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,seller_id,seller_city,seller_state
0,1041,-23.544392,-46.639499,sao paulo,SP,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
1,1041,-23.543539,-46.640577,sao paulo,SP,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
2,1041,-23.543713,-46.640263,sao paulo,SP,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
3,1041,-23.543713,-46.640263,sao paulo,SP,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
4,1041,-23.543539,-46.640577,sao paulo,SP,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
...,...,...,...,...,...,...,...,...
435082,99730,-27.726741,-52.538420,jacutinga,RS,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435083,99730,-27.729373,-52.537491,jacutinga,RS,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435084,99730,-27.729782,-52.533930,jacutinga,RS,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435085,99730,-27.727540,-52.539263,jacutinga,RS,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435086,99730,-27.729373,-52.537491,jacutinga,RS,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS

In [68]:
#Drop unecessary columns
df_geolocation_sellers_merged_clean = df_geolocation_sellers_merged.drop(columns = ['geolocation_city', 'geolocation_state'])

In [69]:
df_geolocation_sellers_merged_clean

,zip_code_prefix,geolocation_lat,geolocation_lng,seller_id,seller_city,seller_state
0,1041,-23.544392,-46.639499,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
1,1041,-23.543539,-46.640577,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
2,1041,-23.543713,-46.640263,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
3,1041,-23.543713,-46.640263,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
4,1041,-23.543539,-46.640577,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
...,...,...,...,...,...,...
435082,99730,-27.726741,-52.538420,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435083,99730,-27.729373,-52.537491,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435084,99730,-27.729782,-52.533930,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435085,99730,-27.727540,-52.539263,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435086,99730,-27.729373,-52.537491,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS

In [70]:
#Rename columns for clearer labeling
df_geolocation_sellers_merged_clean.rename(columns = {'geolocation_lat': 'seller_lat'}, inplace = True)
df_geolocation_sellers_merged_clean.rename(columns = {'geolocation_lng': 'seller_lng'}, inplace = True)

In [71]:
df_geolocation_sellers_merged_clean

,zip_code_prefix,seller_lat,seller_lng,seller_id,seller_city,seller_state
0,1041,-23.544392,-46.639499,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
1,1041,-23.543539,-46.640577,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
2,1041,-23.543713,-46.640263,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
3,1041,-23.543713,-46.640263,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
4,1041,-23.543539,-46.640577,e5cbe890e679490127e9a390b46bbd20,sao paulo,SP
...,...,...,...,...,...,...
435082,99730,-27.726741,-52.538420,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435083,99730,-27.729373,-52.537491,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435084,99730,-27.729782,-52.533930,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435085,99730,-27.727540,-52.539263,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS
435086,99730,-27.729373,-52.537491,d1c7fa84e48cfa21a0e595167c1c500e,jacutinga,RS

In [75]:
#Merge the geolocation_sellers and customers dataframes

df_geolocation_sellers_customers_merged = df_customers.merge(df_geolocation_sellers_merged_clean, on = 'zip_code_prefix')

In [76]:
df_geolocation_sellers_customers_merged.head(5)

,customer_id,customer_unique_id,zip_code_prefix,customer_city,customer_state,seller_lat,seller_lng,seller_id,seller_city,seller_state
0,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.987222,-47.151073,8d46553a36e68f95350a200c12f8f2e2,campinas,SP
1,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.964194,-47.146534,8d46553a36e68f95350a200c12f8f2e2,campinas,SP
2,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.961982,-47.146298,8d46553a36e68f95350a200c12f8f2e2,campinas,SP
3,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.968059,-47.147139,8d46553a36e68f95350a200c12f8f2e2,campinas,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.977905,-47.145693,8d46553a36e68f95350a200c12f8f2e2,campinas,SP

In [72]:
df_order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [73]:
#Merge the geolocation-sellers and order-items dataframes
df_geolocation_sellers_items_merged_update = df_order_items.merge(df_geolocation_sellers_merged_clean, on = 'seller_id')

In [74]:
df_geolocation_sellers_items_merged_update.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix,seller_lat,seller_lng,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.498183,-44.123614,volta redonda,SP
1,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.487885,-44.131566,volta redonda,SP
2,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.501227,-44.132443,volta redonda,SP
3,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.500389,-44.124773,volta redonda,SP
4,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.499963,-44.127571,volta redonda,SP

In [77]:
df_geolocation_sellers_items_merged_update

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix,seller_lat,seller_lng,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.498183,-44.123614,volta redonda,SP
1,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.487885,-44.131566,volta redonda,SP
2,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.501227,-44.132443,volta redonda,SP
3,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.500389,-44.124773,volta redonda,SP
4,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,27277,-22.499963,-44.127571,volta redonda,SP
...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,ff701a7c869ad21de22a6994237c8a00,2,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,2018-04-18 20:10:33,27.9,14.44,3124,-23.572078,-46.593056,sao paulo,SP
16252415,ff701a7c869ad21de22a6994237c8a00,2,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,2018-04-18 20:10:33,27.9,14.44,3124,-23.572567,-46.590970,sao paulo,SP
16252416,ff701a7c869ad21de22a6994237c8a00,2,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,2018-04-18 20:10:33,27.9,14.44,3124,-23.571678,-46.589942,sao paulo,SP
16252417,ff701a7c869ad21de22a6994237c8a00,2,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,2018-04-18 20:10:33,27.9,14.44,3124,-23.569520,-46.590658,sao paulo,SP
16252418,ff701a7c869ad21de22a6994237c8a00,2,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,2018-04-18 20:10:33,27.9,14.44,3124,-23.571832,-46.589692,sao paulo,SP

In [78]:
#Drop unnecessary columns
df_geolocation_sellers_items_merged_update_clean = df_geolocation_sellers_items_merged_update.drop(columns = ['order_item_id'])

In [108]:
df_geolocation_sellers_items_merged_update_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 11 columns):
 #   Column               Dtype
---  ------               -----
 0   order_id             object
 1   product_id           object
 2   seller_id            object
 3   shipping_limit_date  object
 4   price                float64
 5   freight_value        float64
 6   zip_code_prefix      int64
 7   seller_lat           float64
 8   seller_lng           float64
 9   seller_city          object
 10  seller_state         object
dtypes: float64(4), int64(1), object(6)
memory usage: 1.5+ GB

In [ ]:
#

In [96]:
#Drop the columns of the olist_order_payments dataframe except for oder_id and payment_type
df_order_payments_clean = df_order_payments.drop(columns = ['payment_sequential', 'payment_installments', 'payment_value'])

In [98]:
df_order_payments_clean.head(10)

                           order_id payment_type
0  b81ef226f3fe1789b1e8b2acac839d17  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd  credit_card
3  ba78997921bbcdc1373bb41e913ab953  credit_card
4  42fdf880ba16b47b59251dd489d4441a  credit_card
5  298fcdf1f73eb413e4d26d01b25bc1cd  credit_card
6  771ee386b001f06208a7419e4fc1bbd7  credit_card
7  3d7239c394a212faae122962df514ac7  credit_card
8  1f78449c87a54faf9e96e88ba1491fa9  credit_card
9  0573b5e23cbd798006520e1d5b4c6714       boleto

In [101]:
#Merge the order_payments_clean data with the orders dataframe

df_orders_payments_clean = df_order_payments_clean.merge(df_orders, on = 'order_id')

In [102]:
df_orders_payments_clean.head(10)

,order_id,payment_type,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,b81ef226f3fe1789b1e8b2acac839d17,credit_card,0a8556ac6be836b46b3e89920d59291c,delivered,2018-04-25 22:01:49,2018-04-25 22:15:09,2018-05-02 15:20:00,2018-05-09 17:36:51,2018-05-22 00:00:00
1,a9810da82917af2d9aefd1278f1dcfa0,credit_card,f2c7fc58a9de810828715166c672f10a,delivered,2018-06-26 11:01:38,2018-06-26 11:18:58,2018-06-28 14:18:00,2018-06-29 20:32:09,2018-07-16 00:00:00
2,25e8ea4e93396b6fa0d3dd708e76c1bd,credit_card,25b14b69de0b6e184ae6fe2755e478f9,delivered,2017-12-12 11:19:55,2017-12-14 09:52:34,2017-12-15 20:13:22,2017-12-18 17:24:41,2018-01-04 00:00:00
3,ba78997921bbcdc1373bb41e913ab953,credit_card,7a5d8efaaa1081f800628c30d2b0728f,delivered,2017-12-06 12:04:06,2017-12-06 12:13:20,2017-12-07 20:28:28,2017-12-21 01:35:51,2018-01-04 00:00:00
4,42fdf880ba16b47b59251dd489d4441a,credit_card,15fd6fb8f8312dbb4674e4518d6fa3b3,delivered,2018-05-21 13:59:17,2018-05-21 16:14:41,2018-05-22 11:46:00,2018-06-01 21:44:53,2018-06-13 00:00:00
5,298fcdf1f73eb413e4d26d01b25bc1cd,credit_card,a24e6f72471e9dbafcb292bc318f4859,delivered,2018-05-07 13:20:41,2018-05-07 15:31:14,2018-05-10 13:35:00,2018-05-14 19:02:54,2018-05-23 00:00:00
6,771ee386b001f06208a7419e4fc1bbd7,credit_card,206c0fcc717333d169ff95933fb47341,delivered,2017-06-23 13:11:27,2017-06-23 13:25:19,2017-06-26 17:33:37,2017-07-03 15:59:46,2017-07-17 00:00:00
7,3d7239c394a212faae122962df514ac7,credit_card,4d7a9b8bba459dce09d1b8fa637a0cba,delivered,2017-06-05 10:45:54,2017-06-05 10:55:16,2017-06-14 10:26:00,2017-06-23 12:18:32,2017-06-26 00:00:00
8,1f78449c87a54faf9e96e88ba1491fa9,credit_card,68c9dafdf193586c290b19c71541357a,delivered,2018-07-22 14:07:35,2018-07-23 11:32:08,2018-07-23 12:58:00,2018-07-28 15:03:04,2018-08-14 00:00:00
9,0573b5e23cbd798006520e1d5b4c6714,boleto,c4e17eff78176dfe3401f03db0346f85,delivered,2017-07-04 20:32:10,2017-07-06 03:15:36,2017-07-06 13:27:31,2017-07-13 19:34:27,2017-07-26 00:00:00

In [1]:
df_orders_payments_clean.info()

NameError: name 'df_orders_payments_clean' is not defined

In [112]:
df_geolocation_sellers_items_merged_update_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 11 columns):
 #   Column               Dtype
---  ------               -----
 0   order_id             object
 1   product_id           object
 2   seller_id            object
 3   shipping_limit_date  object
 4   price                float64
 5   freight_value        float64
 6   zip_code_prefix      int64
 7   seller_lat           float64
 8   seller_lng           float64
 9   seller_city          object
 10  seller_state         object
dtypes: float64(4), int64(1), object(6)
memory usage: 1.5+ GB

In [ ]:
#Conserve memory by changing certain data types

df_geolocation_sellers_items_merged_update_clean['zip_code_prefix']=df_geolocation_sellers_items_orders_merged_clean['zip_code_prefix'].astype('int16')
df_geolocation_sellers_items_merged_update_clean['freight_value']=df_geolocation_sellers_items_orders_merged_clean['freight_value'].astype('float16')
df_geolocation_sellers_items_merged_update_clean['price']=df_geolocation_sellers_items_orders_merged_clean['price'].astype('float16')
df_geolocation_sellers_items_merged_update_clean['seller_lat']=df_geolocation_sellers_items_orders_merged_clean['seller_lat'].astype('float16')
df_geolocation_sellers_items_merged_update_clean['seller_lng']=df_geolocation_sellers_items_orders_merged_clean['seller_lng'].astype('float16')

In [113]:
#Merge the geolocation-sellers-items and orders dataframes
df_geolocation_sellers_items_orders = df_orders_payments_clean.merge(df_geolocation_sellers_items_merged_update_clean, on = 'order_id')

MemoryError: Unable to allocate 124. MiB for an array with shape (1, 16252419) and data type int64

In [110]:
df_geolocation_sellers_items_orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 18 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       object
 1   customer_id                    object
 2   order_status                   object
 3   order_purchase_timestamp       object
 4   order_approved_at              object
 5   order_delivered_carrier_date   object
 6   order_delivered_customer_date  object
 7   order_estimated_delivery_date  object
 8   product_id                     object
 9   seller_id                      object
 10  shipping_limit_date            object
 11  price                          float64
 12  freight_value                  float64
 13  zip_code_prefix                int64
 14  seller_lat                     float64
 15  seller_lng                     float64
 16  seller_city                    object
 17  seller_state                   object
dtypes: float64(4), int64(1), object(13)
memory usage: 2.3+ GB

In [80]:
df_geolocation_sellers_items_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_id,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix,seller_lat,seller_lng,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.680114,-46.452454,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.675223,-46.441038,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.685712,-46.444796,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.679951,-46.448247,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.678662,-46.442578,maua,SP

In [81]:
df_geolocation_sellers_items_orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_id,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix,seller_lat,seller_lng,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.680114,-46.452454,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.675223,-46.441038,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.685712,-46.444796,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.679951,-46.448247,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.678662,-46.442578,maua,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36,14407,-20.486153,-47.420998,franca,SP
16252415,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36,14407,-20.475119,-47.414534,franca,SP
16252416,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36,14407,-20.488723,-47.409148,franca,SP
16252417,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36,14407,-20.475478,-47.414575,franca,SP
16252418,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36,14407,-20.509864,-47.427484,franca,SP

In [82]:
#Drop the unecessary columns
df_geolocation_sellers_items_orders_merged_clean = df_geolocation_sellers_items_orders.drop(columns = ['order_status', 'product_id'])

In [83]:
df_geolocation_sellers_items_orders_merged_clean.head(10)

,order_id,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix,seller_lat,seller_lng,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.680114,-46.452454,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.675223,-46.441038,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.685712,-46.444796,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.679951,-46.448247,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.678662,-46.442578,maua,SP
5,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.671205,-46.441246,maua,SP
6,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.678236,-46.443867,maua,SP
7,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.682176,-46.450023,maua,SP
8,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.680241,-46.444044,maua,SP
9,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.686057,-46.447010,maua,SP

In [84]:
df_geolocation_sellers_items_orders_merged_clean

,order_id,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix,seller_lat,seller_lng,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.680114,-46.452454,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.675223,-46.441038,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.685712,-46.444796,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.679951,-46.448247,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,9350,-23.678662,-46.442578,maua,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36,14407,-20.486153,-47.420998,franca,SP
16252415,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36,14407,-20.475119,-47.414534,franca,SP
16252416,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36,14407,-20.488723,-47.409148,franca,SP
16252417,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36,14407,-20.475478,-47.414575,franca,SP
16252418,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36,14407,-20.509864,-47.427484,franca,SP

In [85]:
#Merge the geolocation and customer dataframes
df_geolocation_customers_merged = df_customers.merge(df_geolocation, on = 'zip_code_prefix')

In [86]:
df_geolocation_customers_merged.head()

,customer_id,customer_unique_id,zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.509897,-47.397866,franca,SP
1,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.497396,-47.399241,franca,SP
2,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.510459,-47.399553,franca,SP
3,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.480940,-47.394161,franca,SP
4,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.515413,-47.398194,franca,SP

In [87]:
#Drop the unnecessary columns prior to the merge with the geolocation_sellers_items_orders dataframe
df_geolocation_customers_clean = df_geolocation_customers_merged.drop(columns = ['customer_unique_id', 'geolocation_state', 'geolocation_city'])

In [88]:
df_geolocation_customers_clean

,customer_id,zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.509897,-47.397866
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.497396,-47.399241
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.510459,-47.399553
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.480940,-47.394161
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.515413,-47.398194
...,...,...,...,...,...,...
15083450,d9110683c7a282144e9fc97660026a28,74980,aparecida de goiania,GO,-16.821866,-49.244027
15083451,d9110683c7a282144e9fc97660026a28,74980,aparecida de goiania,GO,-16.821866,-49.244027
15083452,d9110683c7a282144e9fc97660026a28,74980,aparecida de goiania,GO,-16.822945,-49.244615
15083453,6fb4f2354f36e554ac80141e9128f528,99043,passo fundo,RS,-28.226596,-52.467505
15083454,6fb4f2354f36e554ac80141e9128f528,99043,passo fundo,RS,-28.226596,-52.467505

In [89]:
#Rename certain columns
df_geolocation_customers_clean.rename(columns = {'zip_code_prefix': 'customer_zip_code'}, inplace = True)
df_geolocation_customers_clean.rename(columns = {'geolocation_lat': 'customer_lat'}, inplace = True)
df_geolocation_customers_clean.rename(columns = {'geolocation_lng': 'customer_lng'}, inplace = True)

In [90]:
df_geolocation_customers_clean

,customer_id,customer_zip_code,customer_city,customer_state,customer_lat,customer_lng
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.509897,-47.397866
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.497396,-47.399241
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.510459,-47.399553
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.480940,-47.394161
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,-20.515413,-47.398194
...,...,...,...,...,...,...
15083450,d9110683c7a282144e9fc97660026a28,74980,aparecida de goiania,GO,-16.821866,-49.244027
15083451,d9110683c7a282144e9fc97660026a28,74980,aparecida de goiania,GO,-16.821866,-49.244027
15083452,d9110683c7a282144e9fc97660026a28,74980,aparecida de goiania,GO,-16.822945,-49.244615
15083453,6fb4f2354f36e554ac80141e9128f528,99043,passo fundo,RS,-28.226596,-52.467505
15083454,6fb4f2354f36e554ac80141e9128f528,99043,passo fundo,RS,-28.226596,-52.467505

In [94]:
#Drop the customer_lat and customer_lng columns

df_geolocation_customers_clean_1 = df_geolocation_customers_clean.drop(columns = ['customer_lng', 'customer_lat'])

In [95]:
#Merge the sellers_items_orders and geolocation_customers dataframes
df_geolocation_customers_sellers_items_orders = df_geolocation_customers_clean_1.merge(df_geolocation_sellers_items_orders_merged_clean, on = 'customer_id')

MemoryError: Unable to allocate 868. MiB for an array with shape (7, 16252419) and data type object

In [92]:
df_geolocation_customers_sellers_items_orders

NameError: name 'df_geolocation_customers_sellers_items_orders' is not defined

In [1]:
#Drop unnecessary columns
df_geolocation_customers_sellers_items_orders_clean = df_geolocation_customers_sellers_items_orders.drop(columns = ['customer_id'])

NameError: name 'df_geolocation_customers_sellers_items_orders' is not defined

In [2]:
#Rename certain columns
df_geolocation_customers_sellers_items_orders_clean.rename(columns = {'zip_code_prefix_x': 'customer_zip_code'}, inplace = True)
df_geolocation_customers_sellers_items_orders_clean.rename(columns = {'zip_code_prefix_y': 'seller_zip_code'}, inplace = True)
df_geolocation_customers_sellers_items_orders_clean.rename(columns = {'geolocation_lat': 'customer_lat'}, inplace = True)
df_geolocation_customers_sellers_items_orders_clean.rename(columns = {'geolocation_lng': 'customer_lng'}, inplace = True)

NameError: name 'df_geolocation_customers_sellers_items_orders_clean' is not defined

In [159]:
df_geolocation_customers_sellers_items_orders_clean

,customer_id,customer_zip_code,customer_city,customer_state,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,seller_id,shipping_limit_date,price,freight_value,seller_zip_code,seller_lat,seller_lng,seller_city,seller_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.482623,-46.374490,itaquaquecetuba,SP
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.489888,-46.372657,itaquaquecetuba,SP
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.483042,-46.374934,itaquaquecetuba,SP
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.479473,-46.360819,itaquaquecetuba,SP
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.489348,-46.361394,itaquaquecetuba,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.501594,-46.485147,sao paulo,SP
16252415,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.494657,-46.482533,sao paulo,SP
16252416,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.499287,-46.482976,sao paulo,SP
16252417,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.503812,-46.483090,sao paulo,SP
16252418,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.496444,-46.480933,sao paulo,SP

In [166]:
df_geolocation_customers_sellers_items_orders_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 18 columns):
 #   Column                         Dtype
---  ------                         -----
 0   customer_id                    object
 1   customer_zip_code              int64
 2   customer_city                  object
 3   customer_state                 object
 4   order_purchase_timestamp       object
 5   order_approved_at              object
 6   order_delivered_carrier_date   object
 7   order_delivered_customer_date  object
 8   order_estimated_delivery_date  object
 9   seller_id                      object
 10  shipping_limit_date            object
 11  price                          float64
 12  freight_value                  float64
 13  seller_zip_code                int64
 14  seller_lat                     float64
 15  seller_lng                     float64
 16  seller_city                    object
 17  seller_state                   object
dtypes: float64(4), int64(2), object(12)
memory usage: 2.3+ GB

In [174]:
#Convert the delivered, order purchase, order approved, estimated delivery,and order delivered to carrier dates to datetime format
df_geolocation_customers_sellers_items_orders_clean['order_purchase_timestamp'] = df_geolocation_customers_sellers_items_orders_clean['order_purchase_timestamp'].astype('datetime64[ns]')
df_geolocation_customers_sellers_items_orders_clean['order_delivered_customer_date'] = df_geolocation_customers_sellers_items_orders_clean['order_delivered_customer_date'].astype('datetime64[ns]')
df_geolocation_customers_sellers_items_orders_clean['order_estimated_delivery_date'] = df_geolocation_customers_sellers_items_orders_clean['order_estimated_delivery_date'].astype('datetime64[ns]')
df_geolocation_customers_sellers_items_orders_clean['order_delivered_carrier_date'] = df_geolocation_customers_sellers_items_orders_clean['order_delivered_carrier_date'].astype('datetime64[ns]')
df_geolocation_customers_sellers_items_orders_clean['order_approved_at'] = df_geolocation_customers_sellers_items_orders_clean['order_approved_at'].astype('datetime64[ns]')

In [175]:
df_geolocation_customers_sellers_items_orders_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 18 columns):
 #   Column                         Dtype
---  ------                         -----
 0   customer_id                    object
 1   customer_zip_code              int64
 2   customer_city                  object
 3   customer_state                 object
 4   order_purchase_timestamp       datetime64[ns]
 5   order_approved_at              datetime64[ns]
 6   order_delivered_carrier_date   datetime64[ns]
 7   order_delivered_customer_date  datetime64[ns]
 8   order_estimated_delivery_date  datetime64[ns]
 9   seller_id                      object
 10  shipping_limit_date            object
 11  price                          float64
 12  freight_value                  float64
 13  seller_zip_code                int64
 14  seller_lat                     float64
 15  seller_lng                     float64
 16  seller_city                    object
 17  seller_state                   object
dtypes: datetime64[ns](5), float64(4), int64(2), object(7)
memory usage: 2.3+ GB

In [177]:
df_geolocation_customers_sellers_items_orders_clean

,customer_id,customer_zip_code,customer_city,customer_state,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,seller_id,shipping_limit_date,price,freight_value,seller_zip_code,seller_lat,seller_lng,seller_city,seller_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.482623,-46.374490,itaquaquecetuba,SP
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.489888,-46.372657,itaquaquecetuba,SP
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.483042,-46.374934,itaquaquecetuba,SP
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.479473,-46.360819,itaquaquecetuba,SP
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.489348,-46.361394,itaquaquecetuba,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.501594,-46.485147,sao paulo,SP
16252415,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.494657,-46.482533,sao paulo,SP
16252416,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.499287,-46.482976,sao paulo,SP
16252417,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.503812,-46.483090,sao paulo,SP
16252418,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.496444,-46.480933,sao paulo,SP

In [192]:
#Calculate the time difference between actual delivery date and order purchase date
df_geolocation_customers_sellers_items_orders_clean ['Delivery-Purchase_Time_Difference'] = df_geolocation_customers_sellers_items_orders_clean['order_delivered_customer_date'] - df_geolocation_customers_sellers_items_orders_clean['order_purchase_timestamp']

#Calculate the time difference between estimated delivery date and order purchase date
df_geolocation_customers_sellers_items_orders_clean ['Estimated-Purchase_Time_Difference'] = df_geolocation_customers_sellers_items_orders_clean['order_estimated_delivery_date'] - df_geolocation_customers_sellers_items_orders_clean['order_purchase_timestamp']

#Calculate the time difference between order approval date and order purchase date
df_geolocation_customers_sellers_items_orders_clean ['Approval-Purchase_Time_Difference'] = df_geolocation_customers_sellers_items_orders_clean['order_approved_at'] - df_geolocation_customers_sellers_items_orders_clean['order_purchase_timestamp']

#Calculate the time difference between delivery to the carrier and order purchase date
df_geolocation_customers_sellers_items_orders_clean ['Carrier_Delivered-Order_Time_Difference'] = df_geolocation_customers_sellers_items_orders_clean['order_delivered_carrier_date'] - df_geolocation_customers_sellers_items_orders_clean['order_purchase_timestamp']

In [198]:
#Convert the calculated time differences into minute amounts in the integer or float format
df_geolocation_customers_sellers_items_orders_clean ['Delivery-Purchase_Time_Difference_Min'] = df_geolocation_customers_sellers_items_orders_clean ['Delivery-Purchase_Time_Difference']/pd.Timedelta(minutes=1)
df_geolocation_customers_sellers_items_orders_clean ['Estimated-Purchase_Time_Difference_Min'] = df_geolocation_customers_sellers_items_orders_clean ['Estimated-Purchase_Time_Difference']/pd.Timedelta(minutes=1)
df_geolocation_customers_sellers_items_orders_clean ['Approval-Purchase_Time_Difference_Min'] = df_geolocation_customers_sellers_items_orders_clean ['Approval-Purchase_Time_Difference']/pd.Timedelta(minutes=1)
df_geolocation_customers_sellers_items_orders_clean ['Carrier_Delivered-Order_Time_Difference_Min'] = df_geolocation_customers_sellers_items_orders_clean ['Carrier_Delivered-Order_Time_Difference']/pd.Timedelta(minutes=1)

In [199]:
df_geolocation_customers_sellers_items_orders_clean.head()

,customer_id,customer_zip_code,customer_city,customer_state,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,seller_id,...,Delivery-Order_Time_Difference,Delivery-Purchase_Time_Difference,Estimated-Purchase_Time_Difference,Approval-Purchase_Time_Difference,Carrier_Delivered-Order_Time_Difference,Delivery-Purchase_Time_Difference_Minutes,Delivery-Purchase_Time_Difference_Min,Estimated-Purchase_Time_Difference_Min,Approval-Purchase_Time_Difference_Min,Carrier_Delivered-Order_Time_Difference_Min
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8 days 19:30:00,8 days 19:30:00,19 days 08:54:25,0 days 00:16:37,6 days 19:42:22,12690.0,12690.0,27894.416667,16.616667,9822.366667
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8 days 19:30:00,8 days 19:30:00,19 days 08:54:25,0 days 00:16:37,6 days 19:42:22,12690.0,12690.0,27894.416667,16.616667,9822.366667
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8 days 19:30:00,8 days 19:30:00,19 days 08:54:25,0 days 00:16:37,6 days 19:42:22,12690.0,12690.0,27894.416667,16.616667,9822.366667
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8 days 19:30:00,8 days 19:30:00,19 days 08:54:25,0 days 00:16:37,6 days 19:42:22,12690.0,12690.0,27894.416667,16.616667,9822.366667
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8 days 19:30:00,8 days 19:30:00,19 days 08:54:25,0 days 00:16:37,6 days 19:42:22,12690.0,12690.0,27894.416667,16.616667,9822.366667

In [200]:
df_geolocation_customers_sellers_items_orders_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 28 columns):
 #   Column                                       Dtype
---  ------                                       -----
 0   customer_id                                  object
 1   customer_zip_code                            int64
 2   customer_city                                object
 3   customer_state                               object
 4   order_purchase_timestamp                     datetime64[ns]
 5   order_approved_at                            datetime64[ns]
 6   order_delivered_carrier_date                 datetime64[ns]
 7   order_delivered_customer_date                datetime64[ns]
 8   order_estimated_delivery_date                datetime64[ns]
 9   seller_id                                    object
 10  shipping_limit_date                          object
 11  price                                        float64
 12  freight_value                                float64
 13  seller_zip_code                              int64
 14  seller_lat                                   float64
 15  seller_lng                                   float64
 16  seller_city                                  object
 17  seller_state                                 object
 18  Delivery-Order_Time_Difference               timedelta64[ns]
 19  Delivery-Purchase_Time_Difference            timedelta64[ns]
 20  Estimated-Purchase_Time_Difference           timedelta64[ns]
 21  Approval-Purchase_Time_Difference            timedelta64[ns]
 22  Carrier_Delivered-Order_Time_Difference      timedelta64[ns]
 23  Delivery-Purchase_Time_Difference_Minutes    float64
 24  Delivery-Purchase_Time_Difference_Min        float64
 25  Estimated-Purchase_Time_Difference_Min       float64
 26  Approval-Purchase_Time_Difference_Min        float64
 27  Carrier_Delivered-Order_Time_Difference_Min  float64
dtypes: datetime64[ns](5), float64(9), int64(2), object(7), timedelta64[ns](5)
memory usage: 3.5+ GB

In [213]:
#Drop the Time-Difference Columns with timedelta64 format and any other unnecessary columns
df_geolocation_customers_sellers_items_orders_clean_final= df_geolocation_customers_sellers_items_orders_clean.drop(columns = ['Delivery-Order_Time_Difference', 'Delivery-Purchase_Time_Difference', 'Estimated-Purchase_Time_Difference', 'Approval-Purchase_Time_Difference', 'Carrier_Delivered-Order_Time_Difference'])

MemoryError: Unable to allocate 248. MiB for an array with shape (2, 16252419) and data type object

In [203]:
df_geolocation_customers_sellers_items_orders_clean_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 23 columns):
 #   Column                                       Dtype
---  ------                                       -----
 0   customer_id                                  object
 1   customer_zip_code                            int64
 2   customer_city                                object
 3   customer_state                               object
 4   order_purchase_timestamp                     datetime64[ns]
 5   order_approved_at                            datetime64[ns]
 6   order_delivered_carrier_date                 datetime64[ns]
 7   order_delivered_customer_date                datetime64[ns]
 8   order_estimated_delivery_date                datetime64[ns]
 9   seller_id                                    object
 10  shipping_limit_date                          object
 11  price                                        float64
 12  freight_value                                float64
 13  seller_zip_code                              int64
 14  seller_lat                                   float64
 15  seller_lng                                   float64
 16  seller_city                                  object
 17  seller_state                                 object
 18  Delivery-Purchase_Time_Difference_Minutes    float64
 19  Delivery-Purchase_Time_Difference_Min        float64
 20  Estimated-Purchase_Time_Difference_Min       float64
 21  Approval-Purchase_Time_Difference_Min        float64
 22  Carrier_Delivered-Order_Time_Difference_Min  float64
dtypes: datetime64[ns](5), float64(9), int64(2), object(7)
memory usage: 2.9+ GB

In [204]:
df_geolocation_customers_sellers_items_orders_clean_final.head()

,customer_id,customer_zip_code,customer_city,customer_state,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,seller_id,...,seller_zip_code,seller_lat,seller_lng,seller_city,seller_state,Delivery-Purchase_Time_Difference_Minutes,Delivery-Purchase_Time_Difference_Min,Estimated-Purchase_Time_Difference_Min,Approval-Purchase_Time_Difference_Min,Carrier_Delivered-Order_Time_Difference_Min
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.482623,-46.374490,itaquaquecetuba,SP,12690.0,12690.0,27894.416667,16.616667,9822.366667
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.489888,-46.372657,itaquaquecetuba,SP,12690.0,12690.0,27894.416667,16.616667,9822.366667
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.483042,-46.374934,itaquaquecetuba,SP,12690.0,12690.0,27894.416667,16.616667,9822.366667
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.479473,-46.360819,itaquaquecetuba,SP,12690.0,12690.0,27894.416667,16.616667,9822.366667
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.489348,-46.361394,itaquaquecetuba,SP,12690.0,12690.0,27894.416667,16.616667,9822.366667

In [214]:
#Convert seller_zip_code and customer_zip_code into smaller datatypes

df_geolocation_customers_sellers_items_orders_clean_final['customer_zip_code']=df_geolocation_customers_sellers_items_orders_clean_final['customer_zip_code'].astype('int16')
df_geolocation_customers_sellers_items_orders_clean_final['seller_zip_code']=df_geolocation_customers_sellers_items_orders_clean_final['seller_zip_code'].astype('int16')

In [215]:
df_geolocation_customers_sellers_items_orders_clean_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 23 columns):
 #   Column                                       Dtype
---  ------                                       -----
 0   customer_id                                  object
 1   customer_zip_code                            int16
 2   customer_city                                object
 3   customer_state                               object
 4   order_purchase_timestamp                     datetime64[ns]
 5   order_approved_at                            datetime64[ns]
 6   order_delivered_carrier_date                 datetime64[ns]
 7   order_delivered_customer_date                datetime64[ns]
 8   order_estimated_delivery_date                datetime64[ns]
 9   seller_id                                    object
 10  shipping_limit_date                          object
 11  price                                        float64
 12  freight_value                                float64
 13  seller_zip_code                              int16
 14  seller_lat                                   float64
 15  seller_lng                                   float64
 16  seller_city                                  object
 17  seller_state                                 object
 18  Delivery-Purchase_Time_Difference_Minutes    float64
 19  Delivery-Purchase_Time_Difference_Min        float64
 20  Estimated-Purchase_Time_Difference_Min       float64
 21  Approval-Purchase_Time_Difference_Min        float64
 22  Carrier_Delivered-Order_Time_Difference_Min  float64
dtypes: datetime64[ns](5), float64(9), int16(2), object(7)
memory usage: 2.7+ GB

In [ ]:
df_geolocation_customers_sellers_items_orders_clean_final.head()

In [205]:
df_geolocation_customers_sellers_items_orders_clean_final

,customer_id,customer_zip_code,customer_city,customer_state,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,seller_id,...,seller_zip_code,seller_lat,seller_lng,seller_city,seller_state,Delivery-Purchase_Time_Difference_Minutes,Delivery-Purchase_Time_Difference_Min,Estimated-Purchase_Time_Difference_Min,Approval-Purchase_Time_Difference_Min,Carrier_Delivered-Order_Time_Difference_Min
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.482623,-46.374490,itaquaquecetuba,SP,12690.000000,12690.000000,27894.416667,16.616667,9822.366667
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.489888,-46.372657,itaquaquecetuba,SP,12690.000000,12690.000000,27894.416667,16.616667,9822.366667
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.483042,-46.374934,itaquaquecetuba,SP,12690.000000,12690.000000,27894.416667,16.616667,9822.366667
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.479473,-46.360819,itaquaquecetuba,SP,12690.000000,12690.000000,27894.416667,16.616667,9822.366667
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05,7c67e1448b00f6e969d365cea6b010ab,...,8577,-23.489348,-46.361394,itaquaquecetuba,SP,12690.000000,12690.000000,27894.416667,16.616667,9822.366667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08,3c7c4a49ec3c6550809089c6a2ca9370,...,3804,-23.501594,-46.485147,sao paulo,SP,10335.216667,10335.216667,27932.616667,263.266667,3169.966667
16252415,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08,3c7c4a49ec3c6550809089c6a2ca9370,...,3804,-23.494657,-46.482533,sao paulo,SP,10335.216667,10335.216667,27932.616667,263.266667,3169.966667
16252416,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08,3c7c4a49ec3c6550809089c6a2ca9370,...,3804,-23.499287,-46.482976,sao paulo,SP,10335.216667,10335.216667,27932.616667,263.266667,3169.966667
16252417,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08,3c7c4a49ec3c6550809089c6a2ca9370,...,3804,-23.503812,-46.483090,sao paulo,SP,10335.216667,10335.216667,27932.616667,263.266667,3169.966667
16252418,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08,3c7c4a49ec3c6550809089c6a2ca9370,...,3804,-23.496444,-46.480933,sao paulo,SP,10335.216667,10335.216667,27932.616667,263.266667,3169.966667

In [212]:
#Export the new dataset
df_geolocation_customers_sellers_items_orders_clean_final.to_csv(os.path.join(path, 'Olist-Original Data (Kaggle)','df_geolocation_customers_sellers_items_orders_clean.csv'))

# Disregard the Code that Follows

In [138]:
df_geolocation_customers_sellers_items_orders_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 18 columns):
 #   Column                         Dtype
---  ------                         -----
 0   customer_id                    object
 1   zip_code_prefix                int16
 2   customer_city                  object
 3   customer_state                 object
 4   order_purchase_timestamp       object
 5   order_approved_at              object
 6   order_delivered_carrier_date   object
 7   order_delivered_customer_date  object
 8   order_estimated_delivery_date  object
 9   seller_id                      object
 10  shipping_limit_date            object
 11  price                          float64
 12  freight_value                  float64
 13  seller_zip_code                int64
 14  seller_lat                     float64
 15  seller_lng                     float64
 16  seller_city                    object
 17  seller_state                   object
dtypes: float64(4), int16(1), int64(1), object(12)
memory usage: 2.2+ GB

In [140]:
df_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   zip_code_prefix    1000163 non-null  int64
 1   geolocation_lat    1000163 non-null  float64
 2   geolocation_lng    1000163 non-null  float64
 3   geolocation_city   1000163 non-null  object
 4   geolocation_state  1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [141]:
df_geolocation['zip_code_prefix']=df_geolocation['zip_code_prefix'].astype('int16')

In [142]:
df_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   zip_code_prefix    1000163 non-null  int16
 1   geolocation_lat    1000163 non-null  float64
 2   geolocation_lng    1000163 non-null  float64
 3   geolocation_city   1000163 non-null  object
 4   geolocation_state  1000163 non-null  object
dtypes: float64(2), int16(1), object(2)
memory usage: 32.4+ MB

In [143]:
df_geolocation_update = df_geolocation.drop(columns = ['geolocation_city', 'geolocation_state'])

In [144]:
df_geolocation_update

         zip_code_prefix  geolocation_lat  geolocation_lng
0                   1037       -23.545621       -46.639292
1                   1046       -23.546081       -46.644820
2                   1046       -23.546129       -46.642951
3                   1041       -23.544392       -46.639499
4                   1035       -23.541578       -46.641607
...                  ...              ...              ...
1000158           -31122       -28.068639       -52.010705
1000159           -31172       -27.877125       -52.224882
1000160           -31122       -28.071855       -52.014716
1000161           -31092       -28.388932       -51.846871
1000162           -31122       -28.070104       -52.018658

[1000163 rows x 3 columns]

In [146]:
df_geolocation_update.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 3 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   zip_code_prefix  1000163 non-null  int16
 1   geolocation_lat  1000163 non-null  float64
 2   geolocation_lng  1000163 non-null  float64
dtypes: float64(2), int16(1)
memory usage: 17.2 MB

In [145]:
df_geolocation_update.merge(df_geolocation_customers_sellers_items_orders_clean, on = 'zip_code_prefix')

MemoryError: Unable to allocate 30.0 GiB for an array with shape (4031192986,) and data type int64

In [80]:
#Drop unnecessary columns
df_geolocation_customers_merged_clean = df_geolocation_customers_merged.drop(columns = ['customer_unique_id', 'geolocation_city', 'geolocation_state'])

In [81]:
#Change data types of conserve memory
df_geolocation_customers_merged_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15083455 entries, 0 to 15083454
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   zip_code_prefix  int64
 1   geolocation_lat  float64
 2   geolocation_lng  float64
 3   customer_id      object
 4   customer_city    object
 5   customer_state   object
dtypes: float64(2), int64(1), object(3)
memory usage: 805.5+ MB

In [82]:
df_geolocation_customers_merged_clean['geolocation_lat']=df_geolocation_customers_merged_clean['geolocation_lat'].astype('float16')
df_geolocation_customers_merged_clean['geolocation_lng']=df_geolocation_customers_merged_clean['geolocation_lng'].astype('float16')
df_geolocation_customers_merged_clean['zip_code_prefix']=df_geolocation_customers_merged_clean['zip_code_prefix'].astype('int16')

In [83]:
df_geolocation_customers_merged_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15083455 entries, 0 to 15083454
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   zip_code_prefix  int16
 1   geolocation_lat  float16
 2   geolocation_lng  float16
 3   customer_id      object
 4   customer_city    object
 5   customer_state   object
dtypes: float16(2), int16(1), object(3)
memory usage: 546.6+ MB

In [84]:
df_geolocation_customers_merged_clean

,zip_code_prefix,geolocation_lat,geolocation_lng,customer_id,customer_city,customer_state
0,1037,-23.546875,-46.6250,05b005e82f3f2dcc41b5504f00484e50,sao paulo,SP
1,1037,-23.546875,-46.6250,19ee522d0dd140702062bb89e4820e19,sao paulo,SP
2,1037,-23.546875,-46.6250,6519f59a7687a4661f7c8a7e24f28f94,sao paulo,SP
3,1037,-23.546875,-46.6250,05b005e82f3f2dcc41b5504f00484e50,sao paulo,SP
4,1037,-23.546875,-46.6250,19ee522d0dd140702062bb89e4820e19,sao paulo,SP
...,...,...,...,...,...,...
15083450,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083451,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083452,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083453,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083454,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS

In [85]:
#Change the datatypes to conserve memory
df_geolocation_sellers_items_orders_merged.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,shipping_limit_date,price,freight_value,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,2017-10-06 11:07:15,29.99,8.72,9350,-23.680114,-46.452454,maua,SP,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,2017-10-06 11:07:15,29.99,8.72,9350,-23.675223,-46.441038,maua,SP,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,2017-10-06 11:07:15,29.99,8.72,9350,-23.685712,-46.444796,mauá,SP,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,2017-10-06 11:07:15,29.99,8.72,9350,-23.679951,-46.448247,maua,SP,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,2017-10-06 11:07:15,29.99,8.72,9350,-23.678662,-46.442578,maua,SP,maua,SP

In [86]:
#Drop redundant columns

df_geolocation_sellers_items_orders_merged_clean = df_geolocation_sellers_items_orders_merged.drop(columns = ['geolocation_state', 'geolocation_city', 'order_item_id', 'order_status', 'product_id', 'seller_id'])

In [87]:
df_geolocation_sellers_items_orders_merged_clean.head(10)

,order_id,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,shipping_limit_date,price,freight_value,zip_code_prefix,geolocation_lat,geolocation_lng,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.680114,-46.452454,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.675223,-46.441038,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.685712,-46.444796,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.679951,-46.448247,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.678662,-46.442578,maua,SP
5,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.671205,-46.441246,maua,SP
6,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.678236,-46.443867,maua,SP
7,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.682176,-46.450023,maua,SP
8,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.680241,-46.444044,maua,SP
9,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.99,8.72,9350,-23.686057,-46.447010,maua,SP

In [88]:
#Change the datatypes to conserve memory
df_geolocation_sellers_items_orders_merged_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 15 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       object
 1   customer_id                    object
 2   order_purchase_timestamp       object
 3   order_approved_at              object
 4   order_delivered_carrier_date   object
 5   order_delivered_customer_date  object
 6   order_estimated_delivery_date  object
 7   shipping_limit_date            object
 8   price                          float64
 9   freight_value                  float64
 10  zip_code_prefix                int64
 11  geolocation_lat                float64
 12  geolocation_lng                float64
 13  seller_city                    object
 14  seller_state                   object
dtypes: float64(4), int64(1), object(10)
memory usage: 1.9+ GB

In [114]:
df_geolocation_sellers_items_orders_merged_clean['price']=df_geolocation_sellers_items_orders_merged_clean['price'].astype('float16')
df_geolocation_sellers_items_orders_merged_clean['freight_value']=df_geolocation_sellers_items_orders_merged_clean['freight_value'].astype('float16')
df_geolocation_sellers_items_orders_merged_clean['geolocation_lat']=df_geolocation_sellers_items_orders_merged_clean['geolocation_lat'].astype('float16')
df_geolocation_sellers_items_orders_merged_clean['geolocation_lng']=df_geolocation_sellers_items_orders_merged_clean['geolocation_lng'].astype('float32')
df_geolocation_sellers_items_orders_merged_clean['zip_code_prefix']=df_geolocation_sellers_items_orders_merged_clean['zip_code_prefix'].astype('int16')

In [115]:
df_geolocation_sellers_items_orders_merged_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 15 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       object
 1   customer_id                    object
 2   order_purchase_timestamp       object
 3   order_approved_at              object
 4   order_delivered_carrier_date   object
 5   order_delivered_customer_date  object
 6   order_estimated_delivery_date  object
 7   shipping_limit_date            object
 8   price                          float16
 9   freight_value                  float16
 10  zip_code_prefix                int16
 11  geolocation_lat                float16
 12  geolocation_lng                float32
 13  seller_city                    object
 14  seller_state                   object
dtypes: float16(3), float32(1), int16(1), object(10)
memory usage: 1.5+ GB

In [116]:
df_geolocation_sellers_items_orders_merged_clean.head(10)

,order_id,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,shipping_limit_date,price,freight_value,zip_code_prefix,geolocation_lat,geolocation_lng,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.687500,-46.452454,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.671875,-46.441040,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.687500,-46.444798,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.687500,-46.448246,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.671875,-46.442577,maua,SP
5,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.671875,-46.441246,maua,SP
6,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.671875,-46.443867,maua,SP
7,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.687500,-46.450024,maua,SP
8,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.687500,-46.444042,maua,SP
9,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.71875,9350,-23.687500,-46.447010,maua,SP

In [117]:
df_geolocation_customers_merged_clean

,zip_code_prefix,geolocation_lat,geolocation_lng,customer_id,customer_city,customer_state
0,1037,-23.546875,-46.6250,05b005e82f3f2dcc41b5504f00484e50,sao paulo,SP
1,1037,-23.546875,-46.6250,19ee522d0dd140702062bb89e4820e19,sao paulo,SP
2,1037,-23.546875,-46.6250,6519f59a7687a4661f7c8a7e24f28f94,sao paulo,SP
3,1037,-23.546875,-46.6250,05b005e82f3f2dcc41b5504f00484e50,sao paulo,SP
4,1037,-23.546875,-46.6250,19ee522d0dd140702062bb89e4820e19,sao paulo,SP
...,...,...,...,...,...,...
15083450,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083451,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083452,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083453,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083454,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS

In [118]:
df_geolocation_sellers_items_orders_merged_clean

,order_id,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,shipping_limit_date,price,freight_value,zip_code_prefix,geolocation_lat,geolocation_lng,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.687500,-46.452454,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.671875,-46.441040,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.687500,-46.444798,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.687500,-46.448246,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.671875,-46.442577,maua,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.484375,-47.420998,franca,SP
16252415,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.468750,-47.414536,franca,SP
16252416,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.484375,-47.409149,franca,SP
16252417,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.468750,-47.414574,franca,SP
16252418,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.515625,-47.427483,franca,SP

In [100]:
df_geolocation_sellers_items_orders_customers_merged = df_geolocation_customers_merged_clean.merge(df_geolocation_sellers_items_orders_merged_clean, on = 'customer_id')

NameError: name 'df_geolocation_customers_merged_clean' is not defined

In [121]:
df_geolocation_sellers_items_orders_merged_clean

,order_id,customer_id,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,shipping_limit_date,price,freight_value,zip_code_prefix,geolocation_lat,geolocation_lng,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.687500,-46.452454,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.671875,-46.441040,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.687500,-46.444798,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.687500,-46.448246,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-06 11:07:15,29.984375,8.718750,9350,-23.671875,-46.442577,maua,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.484375,-47.420998,franca,SP
16252415,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.468750,-47.414536,franca,SP
16252416,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.484375,-47.409149,franca,SP
16252417,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.468750,-47.414574,franca,SP
16252418,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-15 10:55:42,68.500000,18.359375,14407,-20.515625,-47.427483,franca,SP

In [122]:
df_geolocation_sellers_items_orders_merged_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16252419 entries, 0 to 16252418
Data columns (total 15 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       object
 1   customer_id                    object
 2   order_purchase_timestamp       object
 3   order_approved_at              object
 4   order_delivered_carrier_date   object
 5   order_delivered_customer_date  object
 6   order_estimated_delivery_date  object
 7   shipping_limit_date            object
 8   price                          float16
 9   freight_value                  float16
 10  zip_code_prefix                int16
 11  geolocation_lat                float16
 12  geolocation_lng                float32
 13  seller_city                    object
 14  seller_state                   object
dtypes: float16(3), float32(1), int16(1), object(10)
memory usage: 1.5+ GB

In [123]:
df_geolocation

,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [124]:
df_geolocation.rename(columns = {'zip_code_prefix_y' : 'zip_code_prefix'}, inplace = True)

In [125]:
df_geolocation

,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [126]:
#Merge the geolocation data to the customers data
df_customers_geolocation = df_customers.merge(df_geolocation, on = 'zip_code_prefix')

In [127]:
df_customers_geolocation

,customer_id,customer_unique_id,zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.509897,-47.397866,franca,SP
1,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.497396,-47.399241,franca,SP
2,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.510459,-47.399553,franca,SP
3,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.480940,-47.394161,franca,SP
4,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.515413,-47.398194,franca,SP
...,...,...,...,...,...,...,...,...,...
15083450,d9110683c7a282144e9fc97660026a28,5cbfdb85ec130898108b32c50d619c39,74980,aparecida de goiania,GO,-16.821866,-49.244027,aparecida de goiania,GO
15083451,d9110683c7a282144e9fc97660026a28,5cbfdb85ec130898108b32c50d619c39,74980,aparecida de goiania,GO,-16.821866,-49.244027,aparecida de goiania,GO
15083452,d9110683c7a282144e9fc97660026a28,5cbfdb85ec130898108b32c50d619c39,74980,aparecida de goiania,GO,-16.822945,-49.244615,aparecida de goiania,GO
15083453,6fb4f2354f36e554ac80141e9128f528,3cc6f2e1b9199837fabb35ff4bf24884,99043,passo fundo,RS,-28.226596,-52.467505,passo fundo,RS
15083454,6fb4f2354f36e554ac80141e9128f528,3cc6f2e1b9199837fabb35ff4bf24884,99043,passo fundo,RS,-28.226596,-52.467505,passo fundo,RS

In [129]:
df_customers_geolocation_clean = df_customers_geolocation.drop(columns = ['customer_unique_id'])

MemoryError: Unable to allocate 230. MiB for an array with shape (2, 15083455) and data type object

In [ ]:
df_customers_geolocation_clean

In [294]:
#Merge geolocation_sellers_items_orders with customers
df_seller_item_orders_customers = df_geolocation_sellers_items_orders_merged_clean.merge(df_customers_geolocation_clean, on = 'customer_id')

MemoryError: Unable to allocate 18.7 GiB for an array with shape (2516029760,) and data type int64

In [ ]:
df_seller_item_orders_customers

In [ ]:
df_seller_item_orders_customers_clean = df_seller_item_orders_customers.drop(columns = ['customer_unique_id'])

In [ ]:
#Rename columns to be more clear

df_seller_item_orders_customers_clean.rename(columns = {'zip_code_prefix_y': 'zip_code_prefix'}, inplace = True)

In [ ]:
#Merge geolocation coordinates to the customer zip code
df_seller_item_orders_customers.merge(df_geolocation, on = 'zip_code_prefix')

In [ ]:
df_seller_item_orders_customers_update

In [ ]:
#Geolocation to customer zip code
df_seller_item_orders_customers_update.merge(df_geolocation  ,on = 'zip_code_prefix')

In [95]:
df_geolocation.drop(columns = ['geolocation_city', 'geolocation_state'])

         zip_code_prefix  geolocation_lat  geolocation_lng
0                   1037       -23.545621       -46.639292
1                   1046       -23.546081       -46.644820
2                   1046       -23.546129       -46.642951
3                   1041       -23.544392       -46.639499
4                   1035       -23.541578       -46.641607
...                  ...              ...              ...
1000158            99950       -28.068639       -52.010705
1000159            99900       -27.877125       -52.224882
1000160            99950       -28.071855       -52.014716
1000161            99980       -28.388932       -51.846871
1000162            99950       -28.070104       -52.018658

[1000163 rows x 3 columns]

In [96]:
df_geolocation

,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [97]:
df_seller_item_orders_customers.merge(df_geolocation, on = 'zip_code_prefix')

NameError: name 'df_seller_item_orders_customers' is not defined

In [98]:
df_seller_item_orders_customers_clean

NameError: name 'df_seller_item_orders_customers_clean' is not defined

In [99]:
df_geolocation

,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [100]:
df_geolocation.rename(columns = {'zip_code_prefix': ''})

,,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [101]:
df_seller_item_orders_customers_clean.merge(df_geolocation, on = 'zip_code_prefix')

NameError: name 'df_seller_item_orders_customers_clean' is not defined

In [102]:
df_geolocation_customers_merged_clean

,zip_code_prefix,geolocation_lat,geolocation_lng,customer_id,customer_city,customer_state
0,1037,-23.546875,-46.6250,05b005e82f3f2dcc41b5504f00484e50,sao paulo,SP
1,1037,-23.546875,-46.6250,19ee522d0dd140702062bb89e4820e19,sao paulo,SP
2,1037,-23.546875,-46.6250,6519f59a7687a4661f7c8a7e24f28f94,sao paulo,SP
3,1037,-23.546875,-46.6250,05b005e82f3f2dcc41b5504f00484e50,sao paulo,SP
4,1037,-23.546875,-46.6250,19ee522d0dd140702062bb89e4820e19,sao paulo,SP
...,...,...,...,...,...,...
15083450,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083451,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083452,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083453,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS
15083454,-31152,-27.859375,-52.3125,586068537ced131bb1950d007e218c6f,erebango,RS

In [110]:
df_geolocation_customers_merged_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15083455 entries, 0 to 15083454
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   zip_code_prefix  int16
 1   geolocation_lat  float16
 2   geolocation_lng  float16
 3   customer_id      object
 4   customer_city    object
 5   customer_state   object
dtypes: float16(2), int16(1), object(3)
memory usage: 546.6+ MB

In [109]:
#Merge the customers_geolocation dataframe and the geolocation_sellers_items_orders dataframe

df_geolocation_sellers_items_orders_merged_clean.merge(df_geolocation_customers_merged_clean, on = 'customer_id')

MemoryError: Unable to allocate 18.7 GiB for an array with shape (2516029760,) and data type int64

In [111]:
#Merge the geolocation_sellers_items_orders_merged and geolocation_customers_merged dataframes
df_geolocation_sellers_items_orders_customers_merged = df_geolocation_customers_merged.merge(df_geolocation_sellers_items_orders_merged, on = 'customer_id')

MemoryError: Unable to allocate 1.82 GiB for an array with shape (15, 16252419) and data type object

In [112]:
df_geolocation_sellers_items_orders_customers_merged.head()

NameError: name 'df_geolocation_sellers_items_orders_customers_merged' is not defined

In [113]:
#Drop the unnecessary columns

df_1 = df_geolocation_sellers_items_orders_customers_merged.drop(columns = ['customer_unique_id'])

NameError: name 'df_geolocation_sellers_items_orders_customers_merged' is not defined

In [107]:
df_1

NameError: name 'df_1' is not defined

In [75]:
df_2 = df_1.drop(columns = ['geolocation_state'])

In [76]:
df_2

,customer_id,zip_code_prefix_x,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,...,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix_y,geolocation_lat,geolocation_lng,geolocation_city,seller_city,seller_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.482623,-46.374490,itaquaquecetuba,itaquaquecetuba,SP
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.489888,-46.372657,itaquaquecetuba,itaquaquecetuba,SP
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.483042,-46.374934,itaquaquecetuba,itaquaquecetuba,SP
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.479473,-46.360819,itaquaquecetuba,itaquaquecetuba,SP
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.489348,-46.361394,itaquaquecetuba,itaquaquecetuba,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.501594,-46.485147,sao paulo,sao paulo,SP
16252415,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.494657,-46.482533,sao paulo,sao paulo,SP
16252416,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.499287,-46.482976,sao paulo,sao paulo,SP
16252417,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.503812,-46.483090,são paulo,sao paulo,SP
16252418,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.496444,-46.480933,são paulo,sao paulo,SP

In [77]:
df_3 = df_2.drop(columns = ['geolocation_city'])

In [78]:
df_3

,customer_id,zip_code_prefix_x,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,...,product_id,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix_y,geolocation_lat,geolocation_lng,seller_city,seller_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.482623,-46.374490,itaquaquecetuba,SP
1,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.489888,-46.372657,itaquaquecetuba,SP
2,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.483042,-46.374934,itaquaquecetuba,SP
3,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.479473,-46.360819,itaquaquecetuba,SP
4,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,...,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,8577,-23.489348,-46.361394,itaquaquecetuba,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252414,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.501594,-46.485147,sao paulo,SP
16252415,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.494657,-46.482533,sao paulo,SP
16252416,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.499287,-46.482976,sao paulo,SP
16252417,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.503812,-46.483090,sao paulo,SP
16252418,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,...,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,3804,-23.496444,-46.480933,sao paulo,SP

In [146]:
df_4 = df_3.drop(columns = ['order_status'])

MemoryError: Unable to allocate 744. MiB for an array with shape (6, 16252419) and data type object

In [96]:
df_4

,customer_id,customer_unique_id,zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-11 02:08:36,2018-04-13 20:06:37,2018-04-25 00:00:00
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-05 18:42:35,2018-04-11 18:54:45,2018-04-20 00:00:00
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-04-09 17:52:17,2018-05-09 19:03:15,2018-05-02 00:00:00
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-06 18:24:41,2017-11-16 19:58:39,2017-12-05 00:00:00
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00

In [129]:
df_5 = df_4.rename(columns = {'zip_code_prefix_x': 'customer_zip_code'}, inplace = True)

In [130]:
df_5

In [131]:
df_6 = df_5.rename(columns = {'zip_code_prefix_y': 'seller_zip_code'}, inplace = True)

AttributeError: 'NoneType' object has no attribute 'rename'

In [132]:
df_4 = df_customers_datasets_orders_merged = df_customers.merge(df_orders, on = 'customer_id')

In [108]:
df_customers_datasets_orders_merged.head()

NameError: name 'df_customers_datasets_orders_merged' is not defined

In [133]:
df_customers_datasets_orders_order_items_merged = df_customers_datasets_orders_merged.merge(df_order_items, on = 'order_id')

In [80]:
df_customers_datasets_orders_order_items_merged.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,1,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25

In [ ]:
df_customers_datasets_orders_order_items_merged

In [134]:
#Merge the df_customers_datasets_orders_order_items_merged and 
df_customers_sellers_items_orders_order_items_merged = df_customers_datasets_orders_order_items_merged.merge(df_geolocation_sellers_items_orders_customers_merged, on = 'customer_id')

In [137]:
df_customers_sellers_items_orders_order_items_merged.head(10)

,customer_id,customer_unique_id_x,zip_code_prefix,customer_city_x,customer_state_x,order_id_x,order_status_x,order_purchase_timestamp_x,order_approved_at_x,order_delivered_carrier_date_x,...,shipping_limit_date_y,price_y,freight_value_y,zip_code_prefix_y,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,seller_city,seller_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.482623,-46.374490,itaquaquecetuba,SP,itaquaquecetuba,SP
1,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.489888,-46.372657,itaquaquecetuba,SP,itaquaquecetuba,SP
2,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.483042,-46.374934,itaquaquecetuba,SP,itaquaquecetuba,SP
3,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.479473,-46.360819,itaquaquecetuba,SP,itaquaquecetuba,SP
4,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.489348,-46.361394,itaquaquecetuba,SP,itaquaquecetuba,SP
5,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.479915,-46.366931,itaquaquecetuba,SP,itaquaquecetuba,SP
6,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.490228,-46.364543,itaquaquecetuba,SP,itaquaquecetuba,SP
7,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.493543,-46.367711,itaquaquecetuba,SP,itaquaquecetuba,SP
8,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.492257,-46.366646,itaquaquecetuba,SP,itaquaquecetuba,SP
9,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,8577,-23.484039,-46.369152,itaquaquecetuba,SP,itaquaquecetuba,SP

In [171]:
#Drop the unnecessary columns

df_customers_sellers_items_orders_order_items_merged.drop(columns = ['geolocation_state'])

NameError: name 'df_customers_sellers_items_orders_order_items_merged' is not defined